// <copyright file="AccountsV1BulkConsentsApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1BulkConsentsApi.
    /// </summary>
    public class AccountsV1BulkConsentsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1BulkConsentsApi"/> class.
        /// </summary>
        internal AccountsV1BulkConsentsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// CreateBulkConsents EndPoint.
        /// </summary>
        /// <param name="items">Required parameter: This is a list of objects that describes a contact's opt-in status. Each object contains the following fields: `contact_id`, which must be a string representing phone number in [E.164 format](https://www.twilio.com/docs/glossary/what-e164); `correlation_id`, a unique 32-character UUID used to uniquely map the request item with the response item; `sender_id`, which can be either a valid messaging service SID or a from phone number; `status`, a string representing the consent status. Can be one of [`opt-in`, `opt-out`]; `source`, a string indicating the medium through which the consent was collected. Can be one of [`website`, `offline`, `opt-in-message`, `opt-out-message`, `others`]; `date_of_consent`, an optional datetime string field in ISO-8601 format that captures the exact date and time when the user gave or revoked consent. If not provided, it will be empty..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1BulkConsents response from the API call.</returns>
        public ApiResponse<Models.AccountsV1BulkConsents> CreateBulkConsents(
                object items)
            => CoreHelper.RunTask(CreateBulkConsentsAsync(items));

        /// <summary>
        /// CreateBulkConsents EndPoint.
        /// </summary>
        /// <param name="items">Required parameter: This is a list of objects that describes a contact's opt-in status. Each object contains the following fields: `contact_id`, which must be a string representing phone number in [E.164 format](https://www.twilio.com/docs/glossary/what-e164); `correlation_id`, a unique 32-character UUID used to uniquely map the request item with the response item; `sender_id`, which can be either a valid messaging service SID or a from phone number; `status`, a string representing the consent status. Can be one of [`opt-in`, `opt-out`]; `source`, a string indicating the medium through which the consent was collected. Can be one of [`website`, `offline`, `opt-in-message`, `opt-out-message`, `others`]; `date_of_consent`, an optional datetime string field in ISO-8601 format that captures the exact date and time when the user gave or revoked consent. If not provided, it will be empty..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1BulkConsents response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1BulkConsents>> CreateBulkConsentsAsync(
                object items,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1BulkConsents>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Consents/Bulk")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Items", items).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}