// <copyright file="AccountsV1PublicKeyApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1PublicKeyApi.
    /// </summary>
    public class AccountsV1PublicKeyApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1PublicKeyApi"/> class.
        /// </summary>
        internal AccountsV1PublicKeyApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieves a collection of Public Key Credentials belonging to the account used to make the request.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListCredentialPublicKeyResponse response from the API call.</returns>
        public ApiResponse<Models.ListCredentialPublicKeyResponse> ListCredentialPublicKey(
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListCredentialPublicKeyAsync(pageSize, page, pageToken));

        /// <summary>
        /// Retrieves a collection of Public Key Credentials belonging to the account used to make the request.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListCredentialPublicKeyResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListCredentialPublicKeyResponse>> ListCredentialPublicKeyAsync(
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListCredentialPublicKeyResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Credentials/PublicKeys")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new Public Key Credential.
        /// </summary>
        /// <param name="publicKey">Required parameter: A URL encoded representation of the public key. For example, `-----BEGIN PUBLIC KEY-----MIIBIjANB.pa9xQIDAQAB-----END PUBLIC KEY-----`.</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="accountSid">Optional parameter: The SID of the Subaccount that this Credential should be associated with. Must be a valid Subaccount of the account issuing the request.</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1CredentialCredentialPublicKey response from the API call.</returns>
        public ApiResponse<Models.AccountsV1CredentialCredentialPublicKey> CreateCredentialPublicKey(
                string publicKey,
                string friendlyName = null,
                string accountSid = null)
            => CoreHelper.RunTask(CreateCredentialPublicKeyAsync(publicKey, friendlyName, accountSid));

        /// <summary>
        /// Create a new Public Key Credential.
        /// </summary>
        /// <param name="publicKey">Required parameter: A URL encoded representation of the public key. For example, `-----BEGIN PUBLIC KEY-----MIIBIjANB.pa9xQIDAQAB-----END PUBLIC KEY-----`.</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="accountSid">Optional parameter: The SID of the Subaccount that this Credential should be associated with. Must be a valid Subaccount of the account issuing the request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1CredentialCredentialPublicKey response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1CredentialCredentialPublicKey>> CreateCredentialPublicKeyAsync(
                string publicKey,
                string friendlyName = null,
                string accountSid = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1CredentialCredentialPublicKey>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Credentials/PublicKeys")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("PublicKey", publicKey).Required())
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("AccountSid", accountSid))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch the public key specified by the provided Credential Sid.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the PublicKey resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1CredentialCredentialPublicKey response from the API call.</returns>
        public ApiResponse<Models.AccountsV1CredentialCredentialPublicKey> FetchCredentialPublicKey(
                string sid)
            => CoreHelper.RunTask(FetchCredentialPublicKeyAsync(sid));

        /// <summary>
        /// Fetch the public key specified by the provided Credential Sid.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the PublicKey resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1CredentialCredentialPublicKey response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1CredentialCredentialPublicKey>> FetchCredentialPublicKeyAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1CredentialCredentialPublicKey>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Credentials/PublicKeys/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Modify the properties of a given Account.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the PublicKey resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1CredentialCredentialPublicKey response from the API call.</returns>
        public ApiResponse<Models.AccountsV1CredentialCredentialPublicKey> UpdateCredentialPublicKey(
                string sid,
                string friendlyName = null)
            => CoreHelper.RunTask(UpdateCredentialPublicKeyAsync(sid, friendlyName));

        /// <summary>
        /// Modify the properties of a given Account.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the PublicKey resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1CredentialCredentialPublicKey response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1CredentialCredentialPublicKey>> UpdateCredentialPublicKeyAsync(
                string sid,
                string friendlyName = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1CredentialCredentialPublicKey>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Credentials/PublicKeys/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete a Credential from your account.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the PublicKey resource to delete..</param>
        public void DeleteCredentialPublicKey(
                string sid)
            => CoreHelper.RunVoidTask(DeleteCredentialPublicKeyAsync(sid));

        /// <summary>
        /// Delete a Credential from your account.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the PublicKey resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteCredentialPublicKeyAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Credentials/PublicKeys/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}