// <copyright file="AccountsV1BulkContactsApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1BulkContactsApi.
    /// </summary>
    public class AccountsV1BulkContactsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1BulkContactsApi"/> class.
        /// </summary>
        internal AccountsV1BulkContactsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// CreateBulkContacts EndPoint.
        /// </summary>
        /// <param name="items">Required parameter: A list of objects where each object represents a contact's details. Each object includes the following fields: `contact_id`, which must be a string representing phone number in [E.164 format](https://www.twilio.com/docs/glossary/what-e164); `correlation_id`, a unique 32-character UUID that maps the response to the original request; `country_iso_code`, a string representing the country using the ISO format (e.g., US for the United States); and `zip_code`, a string representing the postal code..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1BulkContacts response from the API call.</returns>
        public ApiResponse<Models.AccountsV1BulkContacts> CreateBulkContacts(
                object items)
            => CoreHelper.RunTask(CreateBulkContactsAsync(items));

        /// <summary>
        /// CreateBulkContacts EndPoint.
        /// </summary>
        /// <param name="items">Required parameter: A list of objects where each object represents a contact's details. Each object includes the following fields: `contact_id`, which must be a string representing phone number in [E.164 format](https://www.twilio.com/docs/glossary/what-e164); `correlation_id`, a unique 32-character UUID that maps the response to the original request; `country_iso_code`, a string representing the country using the ISO format (e.g., US for the United States); and `zip_code`, a string representing the postal code..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1BulkContacts response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1BulkContacts>> CreateBulkContactsAsync(
                object items,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1BulkContacts>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Contacts/Bulk")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Items", items).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}