// <copyright file="AccountsV1AuthTokenPromotionApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1AuthTokenPromotionApi.
    /// </summary>
    public class AccountsV1AuthTokenPromotionApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1AuthTokenPromotionApi"/> class.
        /// </summary>
        internal AccountsV1AuthTokenPromotionApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Promote the secondary Auth Token to primary. After promoting the new token, all requests to Twilio using your old primary Auth Token will result in an error.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.AccountsV1AuthTokenPromotion response from the API call.</returns>
        public ApiResponse<Models.AccountsV1AuthTokenPromotion> UpdateAuthTokenPromotion()
            => CoreHelper.RunTask(UpdateAuthTokenPromotionAsync());

        /// <summary>
        /// Promote the secondary Auth Token to primary. After promoting the new token, all requests to Twilio using your old primary Auth Token will result in an error.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1AuthTokenPromotion response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1AuthTokenPromotion>> UpdateAuthTokenPromotionAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1AuthTokenPromotion>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/AuthTokens/Promote")
                  .WithAuth("accountSid_authToken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}