// <copyright file="AccountsV1SecondaryAuthTokenApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1SecondaryAuthTokenApi.
    /// </summary>
    public class AccountsV1SecondaryAuthTokenApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1SecondaryAuthTokenApi"/> class.
        /// </summary>
        internal AccountsV1SecondaryAuthTokenApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new secondary Auth Token.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.AccountsV1SecondaryAuthToken response from the API call.</returns>
        public ApiResponse<Models.AccountsV1SecondaryAuthToken> CreateSecondaryAuthToken()
            => CoreHelper.RunTask(CreateSecondaryAuthTokenAsync());

        /// <summary>
        /// Create a new secondary Auth Token.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1SecondaryAuthToken response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1SecondaryAuthToken>> CreateSecondaryAuthTokenAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1SecondaryAuthToken>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/AuthTokens/Secondary")
                  .WithAuth("accountSid_authToken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete the secondary Auth Token from your account.
        /// </summary>
        public void DeleteSecondaryAuthToken()
            => CoreHelper.RunVoidTask(DeleteSecondaryAuthTokenAsync());

        /// <summary>
        /// Delete the secondary Auth Token from your account.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteSecondaryAuthTokenAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/AuthTokens/Secondary")
                  .WithAuth("accountSid_authToken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}