// <copyright file="AccountsV1SafelistApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1SafelistApi.
    /// </summary>
    public class AccountsV1SafelistApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1SafelistApi"/> class.
        /// </summary>
        internal AccountsV1SafelistApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Add a new phone number or phone number 1k prefix to SafeList.
        /// </summary>
        /// <param name="phoneNumber">Required parameter: The phone number or phone number 1k prefix to be added in SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1Safelist response from the API call.</returns>
        public ApiResponse<Models.AccountsV1Safelist> CreateSafelist(
                string phoneNumber)
            => CoreHelper.RunTask(CreateSafelistAsync(phoneNumber));

        /// <summary>
        /// Add a new phone number or phone number 1k prefix to SafeList.
        /// </summary>
        /// <param name="phoneNumber">Required parameter: The phone number or phone number 1k prefix to be added in SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1Safelist response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1Safelist>> CreateSafelistAsync(
                string phoneNumber,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1Safelist>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/SafeList/Numbers")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("PhoneNumber", phoneNumber).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Check if a phone number or phone number 1k prefix exists in SafeList.
        /// </summary>
        /// <param name="phoneNumber">Optional parameter: The phone number or phone number 1k prefix to be fetched from SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1Safelist response from the API call.</returns>
        public ApiResponse<Models.AccountsV1Safelist> FetchSafelist(
                string phoneNumber = null)
            => CoreHelper.RunTask(FetchSafelistAsync(phoneNumber));

        /// <summary>
        /// Check if a phone number or phone number 1k prefix exists in SafeList.
        /// </summary>
        /// <param name="phoneNumber">Optional parameter: The phone number or phone number 1k prefix to be fetched from SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1Safelist response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1Safelist>> FetchSafelistAsync(
                string phoneNumber = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1Safelist>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/SafeList/Numbers")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PhoneNumber", phoneNumber))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove a phone number or phone number 1k prefix from SafeList.
        /// </summary>
        /// <param name="phoneNumber">Optional parameter: The phone number or phone number 1k prefix to be removed from SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        public void DeleteSafelist(
                string phoneNumber = null)
            => CoreHelper.RunVoidTask(DeleteSafelistAsync(phoneNumber));

        /// <summary>
        /// Remove a phone number or phone number 1k prefix from SafeList.
        /// </summary>
        /// <param name="phoneNumber">Optional parameter: The phone number or phone number 1k prefix to be removed from SafeList. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteSafelistAsync(
                string phoneNumber = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/SafeList/Numbers")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PhoneNumber", phoneNumber))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}