// <copyright file="AccountsV1MessagingGeopermissionsApi.cs" company="APIMatic">
// TwilioAccounts.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioAccounts.Standard.Http.Response;

namespace TwilioAccounts.Standard.Apis
{
    /// <summary>
    /// AccountsV1MessagingGeopermissionsApi.
    /// </summary>
    public class AccountsV1MessagingGeopermissionsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AccountsV1MessagingGeopermissionsApi"/> class.
        /// </summary>
        internal AccountsV1MessagingGeopermissionsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Manage Geo Permissions for each country.
        /// </summary>
        /// <param name="permissions">Required parameter: A list of objects where each object represents the Geo Permission to be updated. Each object contains the following fields: `country_code`, unique code for each country of Geo Permission; `type`, permission type of the Geo Permission i.e. country; `enabled`, configure true for enabling the Geo Permission, false for disabling the Geo Permission..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1MessagingGeopermissions response from the API call.</returns>
        public ApiResponse<Models.AccountsV1MessagingGeopermissions> UpdateMessagingGeopermissions(
                object permissions)
            => CoreHelper.RunTask(UpdateMessagingGeopermissionsAsync(permissions));

        /// <summary>
        /// Manage Geo Permissions for each country.
        /// </summary>
        /// <param name="permissions">Required parameter: A list of objects where each object represents the Geo Permission to be updated. Each object contains the following fields: `country_code`, unique code for each country of Geo Permission; `type`, permission type of the Geo Permission i.e. country; `enabled`, configure true for enabling the Geo Permission, false for disabling the Geo Permission..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1MessagingGeopermissions response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1MessagingGeopermissions>> UpdateMessagingGeopermissionsAsync(
                object permissions,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1MessagingGeopermissions>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/Messaging/GeoPermissions")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Permissions", permissions).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Manage Geo Permissions for each country.
        /// </summary>
        /// <param name="countryCode">Optional parameter: The country code to filter the geo permissions. If provided, only the geo permission for the specified country will be returned..</param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1MessagingGeopermissions response from the API call.</returns>
        public ApiResponse<Models.AccountsV1MessagingGeopermissions> FetchMessagingGeopermissions(
                string countryCode = null)
            => CoreHelper.RunTask(FetchMessagingGeopermissionsAsync(countryCode));

        /// <summary>
        /// Manage Geo Permissions for each country.
        /// </summary>
        /// <param name="countryCode">Optional parameter: The country code to filter the geo permissions. If provided, only the geo permission for the specified country will be returned..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AccountsV1MessagingGeopermissions response from the API call.</returns>
        public async Task<ApiResponse<Models.AccountsV1MessagingGeopermissions>> FetchMessagingGeopermissionsAsync(
                string countryCode = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountsV1MessagingGeopermissions>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Messaging/GeoPermissions")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("CountryCode", countryCode))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}