// <copyright file="ChatV3ChannelApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ChatV3ChannelApi.
    /// </summary>
    public class ChatV3ChannelApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ChatV3ChannelApi"/> class.
        /// </summary>
        internal ChatV3ChannelApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Update a specific Channel.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The unique SID identifier of the Service..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this Channel..</param>
        /// <param name="xTwilioWebhookEnabled">Optional parameter: The X-Twilio-Webhook-Enabled HTTP request header.</param>
        /// <param name="type">Optional parameter: The visibility of the channel. Can be: `public` or `private`..</param>
        /// <param name="messagingServiceSid">Optional parameter: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this channel belongs to..</param>
        /// <returns>Returns the ApiResponse of Models.Channel response from the API call.</returns>
        public ApiResponse<Models.Channel> UpdateChannel(
                string serviceSid,
                string sid,
                Models.ChannelWebhookEnabledType? xTwilioWebhookEnabled = null,
                Models.ChannelChannelType? type = null,
                string messagingServiceSid = null)
            => CoreHelper.RunTask(UpdateChannelAsync(serviceSid, sid, xTwilioWebhookEnabled, type, messagingServiceSid));

        /// <summary>
        /// Update a specific Channel.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The unique SID identifier of the Service..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this Channel..</param>
        /// <param name="xTwilioWebhookEnabled">Optional parameter: The X-Twilio-Webhook-Enabled HTTP request header.</param>
        /// <param name="type">Optional parameter: The visibility of the channel. Can be: `public` or `private`..</param>
        /// <param name="messagingServiceSid">Optional parameter: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this channel belongs to..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Channel response from the API call.</returns>
        public async Task<ApiResponse<Models.Channel>> UpdateChannelAsync(
                string serviceSid,
                string sid,
                Models.ChannelWebhookEnabledType? xTwilioWebhookEnabled = null,
                Models.ChannelChannelType? type = null,
                string messagingServiceSid = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Channel>()
              .Server(Server.Default1)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v3/Services/{ServiceSid}/Channels/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ServiceSid", serviceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Header(header => header.Setup("X-Twilio-Webhook-Enabled", (xTwilioWebhookEnabled.HasValue) ? CoreHelper.JsonSerialize(xTwilioWebhookEnabled.Value).Trim('\"') : null))
                      .Form(form => form.Setup("Type", (type.HasValue) ? CoreHelper.JsonSerialize(type.Value).Trim('\"') : null))
                      .Form(form => form.Setup("MessagingServiceSid", messagingServiceSid))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}