// <copyright file="ConversationsV1CredentialApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1CredentialApi.
    /// </summary>
    public class ConversationsV1CredentialApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1CredentialApi"/> class.
        /// </summary>
        internal ConversationsV1CredentialApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Add a new push notification credential to your account.
        /// </summary>
        /// <param name="type">Required parameter: The type of push-notification service the credential is for. Can be: `fcm`, `gcm`, or `apn`..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL encoded representation of the certificate. For example,  `-----BEGIN CERTIFICATE----- MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A== -----END CERTIFICATE-----`..</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL encoded representation of the private key. For example, `-----BEGIN RSA PRIVATE KEY----- MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG... -----END RSA PRIVATE KEY-----`..</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential..</param>
        /// <param name="secret">Optional parameter: [FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging..</param>
        /// <returns>Returns the ApiResponse of Models.Credential response from the API call.</returns>
        public ApiResponse<Models.Credential> CreateCredential(
                Models.CredentialPushType type,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null)
            => CoreHelper.RunTask(CreateCredentialAsync(type, friendlyName, certificate, privateKey, sandbox, apiKey, secret));

        /// <summary>
        /// Add a new push notification credential to your account.
        /// </summary>
        /// <param name="type">Required parameter: The type of push-notification service the credential is for. Can be: `fcm`, `gcm`, or `apn`..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL encoded representation of the certificate. For example,  `-----BEGIN CERTIFICATE----- MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A== -----END CERTIFICATE-----`..</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL encoded representation of the private key. For example, `-----BEGIN RSA PRIVATE KEY----- MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG... -----END RSA PRIVATE KEY-----`..</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential..</param>
        /// <param name="secret">Optional parameter: [FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Credential response from the API call.</returns>
        public async Task<ApiResponse<Models.Credential>> CreateCredentialAsync(
                Models.CredentialPushType type,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Credential>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Credentials")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Type", CoreHelper.JsonSerialize(type).Trim('\"')))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("Certificate", certificate))
                      .Form(form => form.Setup("PrivateKey", privateKey))
                      .Form(form => form.Setup("Sandbox", sandbox))
                      .Form(form => form.Setup("ApiKey", apiKey))
                      .Form(form => form.Setup("Secret", secret))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all push notification credentials on your account.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 100..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListCredentialResponse response from the API call.</returns>
        public ApiResponse<Models.ListCredentialResponse> ListCredential(
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListCredentialAsync(pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all push notification credentials on your account.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 100..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListCredentialResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListCredentialResponse>> ListCredentialAsync(
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListCredentialResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Credentials")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update an existing push notification credential on your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="type">Optional parameter: The type of push-notification service the credential is for. Can be: `fcm`, `gcm`, or `apn`..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL encoded representation of the certificate. For example,  `-----BEGIN CERTIFICATE----- MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A== -----END CERTIFICATE-----`..</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL encoded representation of the private key. For example, `-----BEGIN RSA PRIVATE KEY----- MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG... -----END RSA PRIVATE KEY-----`..</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential..</param>
        /// <param name="secret">Optional parameter: [FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging..</param>
        /// <returns>Returns the ApiResponse of Models.Credential response from the API call.</returns>
        public ApiResponse<Models.Credential> UpdateCredential(
                string sid,
                Models.CredentialPushType? type = null,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null)
            => CoreHelper.RunTask(UpdateCredentialAsync(sid, type, friendlyName, certificate, privateKey, sandbox, apiKey, secret));

        /// <summary>
        /// Update an existing push notification credential on your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="type">Optional parameter: The type of push-notification service the credential is for. Can be: `fcm`, `gcm`, or `apn`..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL encoded representation of the certificate. For example,  `-----BEGIN CERTIFICATE----- MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A== -----END CERTIFICATE-----`..</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL encoded representation of the private key. For example, `-----BEGIN RSA PRIVATE KEY----- MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG... -----END RSA PRIVATE KEY-----`..</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The API key for the project that was obtained from the Google Developer console for your GCM Service application credential..</param>
        /// <param name="secret">Optional parameter: [FCM only] The **Server key** of your project from the Firebase console, found under Settings / Cloud messaging..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Credential response from the API call.</returns>
        public async Task<ApiResponse<Models.Credential>> UpdateCredentialAsync(
                string sid,
                Models.CredentialPushType? type = null,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Credential>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Credentials/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Type", (type.HasValue) ? CoreHelper.JsonSerialize(type.Value).Trim('\"') : null))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("Certificate", certificate))
                      .Form(form => form.Setup("PrivateKey", privateKey))
                      .Form(form => form.Setup("Sandbox", sandbox))
                      .Form(form => form.Setup("ApiKey", apiKey))
                      .Form(form => form.Setup("Secret", secret))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove a push notification credential from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        public void DeleteCredential(
                string sid)
            => CoreHelper.RunVoidTask(DeleteCredentialAsync(sid));

        /// <summary>
        /// Remove a push notification credential from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteCredentialAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Credentials/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch a push notification credential from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <returns>Returns the ApiResponse of Models.Credential response from the API call.</returns>
        public ApiResponse<Models.Credential> FetchCredential(
                string sid)
            => CoreHelper.RunTask(FetchCredentialAsync(sid));

        /// <summary>
        /// Fetch a push notification credential from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Credential response from the API call.</returns>
        public async Task<ApiResponse<Models.Credential>> FetchCredentialAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Credential>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Credentials/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}