// <copyright file="ConversationsV1RoleApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1RoleApi.
    /// </summary>
    public class ConversationsV1RoleApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1RoleApi"/> class.
        /// </summary>
        internal ConversationsV1RoleApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new user role in your account's default service.
        /// </summary>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="type">Required parameter: The type of role. Can be: `conversation` for [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) roles or `service` for [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) roles..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the new role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type`..</param>
        /// <returns>Returns the ApiResponse of Models.Role response from the API call.</returns>
        public ApiResponse<Models.Role> CreateRole(
                string friendlyName,
                Models.RoleRoleType type,
                List<string> permission)
            => CoreHelper.RunTask(CreateRoleAsync(friendlyName, type, permission));

        /// <summary>
        /// Create a new user role in your account's default service.
        /// </summary>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="type">Required parameter: The type of role. Can be: `conversation` for [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) roles or `service` for [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) roles..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the new role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Role response from the API call.</returns>
        public async Task<ApiResponse<Models.Role>> CreateRoleAsync(
                string friendlyName,
                Models.RoleRoleType type,
                List<string> permission,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Role>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Roles")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("Type", CoreHelper.JsonSerialize(type).Trim('\"')))
                      .Form(form => form.Setup("Permission", permission).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all user roles in your account's default service.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListRoleResponse response from the API call.</returns>
        public ApiResponse<Models.ListRoleResponse> ListRole(
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListRoleAsync(pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all user roles in your account's default service.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListRoleResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListRoleResponse>> ListRoleAsync(
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListRoleResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Roles")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update an existing user role in your account's default service.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Role resource to update..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. Note that the update action replaces all previously assigned permissions with those defined in the update action. To remove a permission, do not include it in the subsequent update action. The values for this parameter depend on the role's `type`..</param>
        /// <returns>Returns the ApiResponse of Models.Role response from the API call.</returns>
        public ApiResponse<Models.Role> UpdateRole(
                string sid,
                List<string> permission)
            => CoreHelper.RunTask(UpdateRoleAsync(sid, permission));

        /// <summary>
        /// Update an existing user role in your account's default service.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Role resource to update..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. Note that the update action replaces all previously assigned permissions with those defined in the update action. To remove a permission, do not include it in the subsequent update action. The values for this parameter depend on the role's `type`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Role response from the API call.</returns>
        public async Task<ApiResponse<Models.Role>> UpdateRoleAsync(
                string sid,
                List<string> permission,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Role>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Roles/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Permission", permission).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove a user role from your account's default service.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Role resource to delete..</param>
        public void DeleteRole(
                string sid)
            => CoreHelper.RunVoidTask(DeleteRoleAsync(sid));

        /// <summary>
        /// Remove a user role from your account's default service.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Role resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteRoleAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Roles/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch a user role from your account's default service.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Role resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Role response from the API call.</returns>
        public ApiResponse<Models.Role> FetchRole(
                string sid)
            => CoreHelper.RunTask(FetchRoleAsync(sid));

        /// <summary>
        /// Fetch a user role from your account's default service.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Role resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Role response from the API call.</returns>
        public async Task<ApiResponse<Models.Role>> FetchRoleAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Role>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Roles/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new user role in your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to create the Role resource under..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="type">Required parameter: The type of role. Can be: `conversation` for [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) roles or `service` for [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) roles..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the new role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type`..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceRole response from the API call.</returns>
        public ApiResponse<Models.ServiceRole> CreateServiceRole(
                string chatServiceSid,
                string friendlyName,
                Models.ServiceRoleRoleType type,
                List<string> permission)
            => CoreHelper.RunTask(CreateServiceRoleAsync(chatServiceSid, friendlyName, type, permission));

        /// <summary>
        /// Create a new user role in your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to create the Role resource under..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the new resource. It can be up to 64 characters long..</param>
        /// <param name="type">Required parameter: The type of role. Can be: `conversation` for [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) roles or `service` for [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) roles..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the new role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. The values for this parameter depend on the role's `type`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceRole response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceRole>> CreateServiceRoleAsync(
                string chatServiceSid,
                string friendlyName,
                Models.ServiceRoleRoleType type,
                List<string> permission,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceRole>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Services/{ChatServiceSid}/Roles")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("Type", CoreHelper.JsonSerialize(type).Trim('\"')))
                      .Form(form => form.Setup("Permission", permission).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all user roles in your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to read the Role resources from..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListServiceRoleResponse response from the API call.</returns>
        public ApiResponse<Models.ListServiceRoleResponse> ListServiceRole(
                string chatServiceSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListServiceRoleAsync(chatServiceSid, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all user roles in your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to read the Role resources from..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListServiceRoleResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListServiceRoleResponse>> ListServiceRoleAsync(
                string chatServiceSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListServiceRoleResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Roles")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update an existing user role in your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to update the Role resource in..</param>
        /// <param name="sid">Required parameter: The SID of the Role resource to update..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. Note that the update action replaces all previously assigned permissions with those defined in the update action. To remove a permission, do not include it in the subsequent update action. The values for this parameter depend on the role's `type`..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceRole response from the API call.</returns>
        public ApiResponse<Models.ServiceRole> UpdateServiceRole(
                string chatServiceSid,
                string sid,
                List<string> permission)
            => CoreHelper.RunTask(UpdateServiceRoleAsync(chatServiceSid, sid, permission));

        /// <summary>
        /// Update an existing user role in your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to update the Role resource in..</param>
        /// <param name="sid">Required parameter: The SID of the Role resource to update..</param>
        /// <param name="permission">Required parameter: A permission that you grant to the role. Only one permission can be granted per parameter. To assign more than one permission, repeat this parameter for each permission value. Note that the update action replaces all previously assigned permissions with those defined in the update action. To remove a permission, do not include it in the subsequent update action. The values for this parameter depend on the role's `type`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceRole response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceRole>> UpdateServiceRoleAsync(
                string chatServiceSid,
                string sid,
                List<string> permission,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceRole>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Services/{ChatServiceSid}/Roles/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Permission", permission).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove a user role from your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Role resource from..</param>
        /// <param name="sid">Required parameter: The SID of the Role resource to delete..</param>
        public void DeleteServiceRole(
                string chatServiceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteServiceRoleAsync(chatServiceSid, sid));

        /// <summary>
        /// Remove a user role from your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Role resource from..</param>
        /// <param name="sid">Required parameter: The SID of the Role resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteServiceRoleAsync(
                string chatServiceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Services/{ChatServiceSid}/Roles/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch a user role from your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to fetch the Role resource from..</param>
        /// <param name="sid">Required parameter: The SID of the Role resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceRole response from the API call.</returns>
        public ApiResponse<Models.ServiceRole> FetchServiceRole(
                string chatServiceSid,
                string sid)
            => CoreHelper.RunTask(FetchServiceRoleAsync(chatServiceSid, sid));

        /// <summary>
        /// Fetch a user role from your service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to fetch the Role resource from..</param>
        /// <param name="sid">Required parameter: The SID of the Role resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceRole response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceRole>> FetchServiceRoleAsync(
                string chatServiceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceRole>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Roles/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}