// <copyright file="ConversationsV1ConfigurationApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1ConfigurationApi.
    /// </summary>
    public class ConversationsV1ConfigurationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1ConfigurationApi"/> class.
        /// </summary>
        internal ConversationsV1ConfigurationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Fetch the global configuration of conversations on your account.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.Configuration response from the API call.</returns>
        public ApiResponse<Models.Configuration> FetchConfiguration()
            => CoreHelper.RunTask(FetchConfigurationAsync());

        /// <summary>
        /// Fetch the global configuration of conversations on your account.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Configuration response from the API call.</returns>
        public async Task<ApiResponse<Models.Configuration>> FetchConfigurationAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Configuration>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Configuration")
                  .WithAuth("accountSid_authToken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update the global configuration of conversations on your account.
        /// </summary>
        /// <param name="defaultChatServiceSid">Optional parameter: The SID of the default [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to use when creating a conversation..</param>
        /// <param name="defaultMessagingServiceSid">Optional parameter: The SID of the default [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) to use when creating a conversation..</param>
        /// <param name="defaultInactiveTimer">Optional parameter: Default ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute..</param>
        /// <param name="defaultClosedTimer">Optional parameter: Default ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes..</param>
        /// <returns>Returns the ApiResponse of Models.Configuration response from the API call.</returns>
        public ApiResponse<Models.Configuration> UpdateConfiguration(
                string defaultChatServiceSid = null,
                string defaultMessagingServiceSid = null,
                string defaultInactiveTimer = null,
                string defaultClosedTimer = null)
            => CoreHelper.RunTask(UpdateConfigurationAsync(defaultChatServiceSid, defaultMessagingServiceSid, defaultInactiveTimer, defaultClosedTimer));

        /// <summary>
        /// Update the global configuration of conversations on your account.
        /// </summary>
        /// <param name="defaultChatServiceSid">Optional parameter: The SID of the default [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to use when creating a conversation..</param>
        /// <param name="defaultMessagingServiceSid">Optional parameter: The SID of the default [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) to use when creating a conversation..</param>
        /// <param name="defaultInactiveTimer">Optional parameter: Default ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute..</param>
        /// <param name="defaultClosedTimer">Optional parameter: Default ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Configuration response from the API call.</returns>
        public async Task<ApiResponse<Models.Configuration>> UpdateConfigurationAsync(
                string defaultChatServiceSid = null,
                string defaultMessagingServiceSid = null,
                string defaultInactiveTimer = null,
                string defaultClosedTimer = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Configuration>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Configuration")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("DefaultChatServiceSid", defaultChatServiceSid))
                      .Form(form => form.Setup("DefaultMessagingServiceSid", defaultMessagingServiceSid))
                      .Form(form => form.Setup("DefaultInactiveTimer", defaultInactiveTimer))
                      .Form(form => form.Setup("DefaultClosedTimer", defaultClosedTimer))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch the configuration of a conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the Service configuration resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceConfiguration response from the API call.</returns>
        public ApiResponse<Models.ServiceConfiguration> FetchServiceConfiguration(
                string chatServiceSid)
            => CoreHelper.RunTask(FetchServiceConfigurationAsync(chatServiceSid));

        /// <summary>
        /// Fetch the configuration of a conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the Service configuration resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceConfiguration response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceConfiguration>> FetchServiceConfigurationAsync(
                string chatServiceSid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceConfiguration>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Configuration")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update configuration settings of a conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the Service configuration resource to update..</param>
        /// <param name="defaultConversationCreatorRoleSid">Optional parameter: The conversation-level role assigned to a conversation creator when they join a new conversation. See [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles..</param>
        /// <param name="defaultConversationRoleSid">Optional parameter: The conversation-level role assigned to users when they are added to a conversation. See [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles..</param>
        /// <param name="defaultChatServiceRoleSid">Optional parameter: The service-level role assigned to users when they are added to the service. See [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles..</param>
        /// <param name="reachabilityEnabled">Optional parameter: Whether the [Reachability Indicator](https://www.twilio.com/docs/conversations/reachability) is enabled for this Conversations Service. The default is `false`..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceConfiguration response from the API call.</returns>
        public ApiResponse<Models.ServiceConfiguration> UpdateServiceConfiguration(
                string chatServiceSid,
                string defaultConversationCreatorRoleSid = null,
                string defaultConversationRoleSid = null,
                string defaultChatServiceRoleSid = null,
                bool? reachabilityEnabled = null)
            => CoreHelper.RunTask(UpdateServiceConfigurationAsync(chatServiceSid, defaultConversationCreatorRoleSid, defaultConversationRoleSid, defaultChatServiceRoleSid, reachabilityEnabled));

        /// <summary>
        /// Update configuration settings of a conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the Service configuration resource to update..</param>
        /// <param name="defaultConversationCreatorRoleSid">Optional parameter: The conversation-level role assigned to a conversation creator when they join a new conversation. See [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles..</param>
        /// <param name="defaultConversationRoleSid">Optional parameter: The conversation-level role assigned to users when they are added to a conversation. See [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles..</param>
        /// <param name="defaultChatServiceRoleSid">Optional parameter: The service-level role assigned to users when they are added to the service. See [Conversation Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info about roles..</param>
        /// <param name="reachabilityEnabled">Optional parameter: Whether the [Reachability Indicator](https://www.twilio.com/docs/conversations/reachability) is enabled for this Conversations Service. The default is `false`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceConfiguration response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceConfiguration>> UpdateServiceConfigurationAsync(
                string chatServiceSid,
                string defaultConversationCreatorRoleSid = null,
                string defaultConversationRoleSid = null,
                string defaultChatServiceRoleSid = null,
                bool? reachabilityEnabled = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceConfiguration>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Services/{ChatServiceSid}/Configuration")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("DefaultConversationCreatorRoleSid", defaultConversationCreatorRoleSid))
                      .Form(form => form.Setup("DefaultConversationRoleSid", defaultConversationRoleSid))
                      .Form(form => form.Setup("DefaultChatServiceRoleSid", defaultChatServiceRoleSid))
                      .Form(form => form.Setup("ReachabilityEnabled", reachabilityEnabled))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}