// <copyright file="ConversationsV1ServiceApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1ServiceApi.
    /// </summary>
    public class ConversationsV1ServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1ServiceApi"/> class.
        /// </summary>
        internal ConversationsV1ServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new conversation service on your account.
        /// </summary>
        /// <param name="friendlyName">Required parameter: The human-readable name of this service, limited to 256 characters. Optional..</param>
        /// <returns>Returns the ApiResponse of Models.Service response from the API call.</returns>
        public ApiResponse<Models.Service> CreateService(
                string friendlyName)
            => CoreHelper.RunTask(CreateServiceAsync(friendlyName));

        /// <summary>
        /// Create a new conversation service on your account.
        /// </summary>
        /// <param name="friendlyName">Required parameter: The human-readable name of this service, limited to 256 characters. Optional..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Service response from the API call.</returns>
        public async Task<ApiResponse<Models.Service>> CreateServiceAsync(
                string friendlyName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Service>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Services")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all conversation services on your account.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 100..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListServiceResponse response from the API call.</returns>
        public ApiResponse<Models.ListServiceResponse> ListService(
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListServiceAsync(pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all conversation services on your account.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 100..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListServiceResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListServiceResponse>> ListServiceAsync(
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListServiceResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove a conversation service with all its nested resources from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        public void DeleteService(
                string sid)
            => CoreHelper.RunVoidTask(DeleteServiceAsync(sid));

        /// <summary>
        /// Remove a conversation service with all its nested resources from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteServiceAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Services/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch a conversation service from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <returns>Returns the ApiResponse of Models.Service response from the API call.</returns>
        public ApiResponse<Models.Service> FetchService(
                string sid)
            => CoreHelper.RunTask(FetchServiceAsync(sid));

        /// <summary>
        /// Fetch a conversation service from your account.
        /// </summary>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Service response from the API call.</returns>
        public async Task<ApiResponse<Models.Service>> FetchServiceAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Service>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}