// <copyright file="ConversationsV1DeliveryReceiptApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1DeliveryReceiptApi.
    /// </summary>
    public class ConversationsV1DeliveryReceiptApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1DeliveryReceiptApi"/> class.
        /// </summary>
        internal ConversationsV1DeliveryReceiptApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Fetch the delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <returns>Returns the ApiResponse of Models.ConversationMessageReceipt response from the API call.</returns>
        public ApiResponse<Models.ConversationMessageReceipt> FetchConversationMessageReceipt(
                string conversationSid,
                string messageSid,
                string sid)
            => CoreHelper.RunTask(FetchConversationMessageReceiptAsync(conversationSid, messageSid, sid));

        /// <summary>
        /// Fetch the delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ConversationMessageReceipt response from the API call.</returns>
        public async Task<ApiResponse<Models.ConversationMessageReceipt>> FetchConversationMessageReceiptAsync(
                string conversationSid,
                string messageSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ConversationMessageReceipt>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ConversationSid", conversationSid).Required())
                      .Template(template => template.Setup("MessageSid", messageSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListConversationMessageReceiptResponse response from the API call.</returns>
        public ApiResponse<Models.ListConversationMessageReceiptResponse> ListConversationMessageReceipt(
                string conversationSid,
                string messageSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListConversationMessageReceiptAsync(conversationSid, messageSid, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListConversationMessageReceiptResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListConversationMessageReceiptResponse>> ListConversationMessageReceiptAsync(
                string conversationSid,
                string messageSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListConversationMessageReceiptResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ConversationSid", conversationSid).Required())
                      .Template(template => template.Setup("MessageSid", messageSid).Required())
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch the delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with..</param>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceConversationMessageReceipt response from the API call.</returns>
        public ApiResponse<Models.ServiceConversationMessageReceipt> FetchServiceConversationMessageReceipt(
                string chatServiceSid,
                string conversationSid,
                string messageSid,
                string sid)
            => CoreHelper.RunTask(FetchServiceConversationMessageReceiptAsync(chatServiceSid, conversationSid, messageSid, sid));

        /// <summary>
        /// Fetch the delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with..</param>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceConversationMessageReceipt response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceConversationMessageReceipt>> FetchServiceConversationMessageReceiptAsync(
                string chatServiceSid,
                string conversationSid,
                string messageSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceConversationMessageReceipt>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("ConversationSid", conversationSid).Required())
                      .Template(template => template.Setup("MessageSid", messageSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with..</param>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListServiceConversationMessageReceiptResponse response from the API call.</returns>
        public ApiResponse<Models.ListServiceConversationMessageReceiptResponse> ListServiceConversationMessageReceipt(
                string chatServiceSid,
                string conversationSid,
                string messageSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListServiceConversationMessageReceiptAsync(chatServiceSid, conversationSid, messageSid, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all delivery and read receipts of the conversation message.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with..</param>
        /// <param name="conversationSid">Required parameter: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message..</param>
        /// <param name="messageSid">Required parameter: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListServiceConversationMessageReceiptResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListServiceConversationMessageReceiptResponse>> ListServiceConversationMessageReceiptAsync(
                string chatServiceSid,
                string conversationSid,
                string messageSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListServiceConversationMessageReceiptResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("ConversationSid", conversationSid).Required())
                      .Template(template => template.Setup("MessageSid", messageSid).Required())
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}