// <copyright file="ConversationsV1BindingApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1BindingApi.
    /// </summary>
    public class ConversationsV1BindingApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1BindingApi"/> class.
        /// </summary>
        internal ConversationsV1BindingApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Remove a push notification binding from the conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Binding resource from..</param>
        /// <param name="sid">Required parameter: The SID of the Binding resource to delete..</param>
        public void DeleteServiceBinding(
                string chatServiceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteServiceBindingAsync(chatServiceSid, sid));

        /// <summary>
        /// Remove a push notification binding from the conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Binding resource from..</param>
        /// <param name="sid">Required parameter: The SID of the Binding resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteServiceBindingAsync(
                string chatServiceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Services/{ChatServiceSid}/Bindings/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch a push notification binding from the conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <returns>Returns the ApiResponse of Models.ServiceBinding response from the API call.</returns>
        public ApiResponse<Models.ServiceBinding> FetchServiceBinding(
                string chatServiceSid,
                string sid)
            => CoreHelper.RunTask(FetchServiceBindingAsync(chatServiceSid, sid));

        /// <summary>
        /// Fetch a push notification binding from the conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with..</param>
        /// <param name="sid">Required parameter: A 34 character string that uniquely identifies this resource..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ServiceBinding response from the API call.</returns>
        public async Task<ApiResponse<Models.ServiceBinding>> FetchServiceBindingAsync(
                string chatServiceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ServiceBinding>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Bindings/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all push notification bindings in the conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with..</param>
        /// <param name="bindingType">Optional parameter: The push technology used by the Binding resources to read.  Can be: `apn`, `gcm`, `fcm`, or `twilsock`.  See [push notification configuration](https://www.twilio.com/docs/chat/push-notification-configuration) for more info..</param>
        /// <param name="identity">Optional parameter: The identity of a [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource) this binding belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-tokens) for more details..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 100..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListServiceBindingResponse response from the API call.</returns>
        public ApiResponse<Models.ListServiceBindingResponse> ListServiceBinding(
                string chatServiceSid,
                List<Models.ServiceBindingBindingType> bindingType = null,
                List<string> identity = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListServiceBindingAsync(chatServiceSid, bindingType, identity, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all push notification bindings in the conversation service.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with..</param>
        /// <param name="bindingType">Optional parameter: The push technology used by the Binding resources to read.  Can be: `apn`, `gcm`, `fcm`, or `twilsock`.  See [push notification configuration](https://www.twilio.com/docs/chat/push-notification-configuration) for more info..</param>
        /// <param name="identity">Optional parameter: The identity of a [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource) this binding belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-tokens) for more details..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 100..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListServiceBindingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListServiceBindingResponse>> ListServiceBindingAsync(
                string chatServiceSid,
                List<Models.ServiceBindingBindingType> bindingType = null,
                List<string> identity = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListServiceBindingResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/Bindings")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Query(query => query.Setup("BindingType", bindingType?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("Identity", identity))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}