// <copyright file="ConversationsV1AddressConfigurationApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1AddressConfigurationApi.
    /// </summary>
    public class ConversationsV1AddressConfigurationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1AddressConfigurationApi"/> class.
        /// </summary>
        internal ConversationsV1AddressConfigurationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve a list of address configurations for an account.
        /// </summary>
        /// <param name="type">Optional parameter: Filter the address configurations by its type. This value can be one of: `whatsapp`, `sms`..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListConfigurationAddressResponse response from the API call.</returns>
        public ApiResponse<Models.ListConfigurationAddressResponse> ListConfigurationAddress(
                string type = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListConfigurationAddressAsync(type, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of address configurations for an account.
        /// </summary>
        /// <param name="type">Optional parameter: Filter the address configurations by its type. This value can be one of: `whatsapp`, `sms`..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListConfigurationAddressResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListConfigurationAddressResponse>> ListConfigurationAddressAsync(
                string type = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListConfigurationAddressResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Configuration/Addresses")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("Type", type))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new address configuration.
        /// </summary>
        /// <param name="type">Required parameter: Type of Address, value can be `whatsapp` or `sms`..</param>
        /// <param name="address">Required parameter: The unique address to be configured. The address can be a whatsapp address or phone number.</param>
        /// <param name="friendlyName">Optional parameter: The human-readable name of this configuration, limited to 256 characters. Optional..</param>
        /// <param name="autoCreationEnabled">Optional parameter: Enable/Disable auto-creating conversations for messages to this address.</param>
        /// <param name="autoCreationType">Optional parameter: .</param>
        /// <param name="autoCreationConversationServiceSid">Optional parameter: Conversation Service for the auto-created conversation. If not set, the conversation is created in the default service..</param>
        /// <param name="autoCreationWebhookUrl">Optional parameter: For type `webhook`, the url for the webhook request..</param>
        /// <param name="autoCreationWebhookMethod">Optional parameter: .</param>
        /// <param name="autoCreationWebhookFilters">Optional parameter: The list of events, firing webhook event for this Conversation. Values can be any of the following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`.</param>
        /// <param name="autoCreationStudioFlowSid">Optional parameter: For type `studio`, the studio flow SID where the webhook should be sent to..</param>
        /// <param name="autoCreationStudioRetryCount">Optional parameter: For type `studio`, number of times to retry the webhook request.</param>
        /// <param name="addressCountry">Optional parameter: An ISO 3166-1 alpha-2n country code which the address belongs to. This is currently only applicable to short code addresses..</param>
        /// <returns>Returns the ApiResponse of Models.ConfigurationAddress response from the API call.</returns>
        public ApiResponse<Models.ConfigurationAddress> CreateConfigurationAddress(
                Models.ConfigurationAddressType type,
                string address,
                string friendlyName = null,
                bool? autoCreationEnabled = null,
                Models.ConfigurationAddressAutoCreationType? autoCreationType = null,
                string autoCreationConversationServiceSid = null,
                string autoCreationWebhookUrl = null,
                Models.ConfigurationAddressMethod? autoCreationWebhookMethod = null,
                List<string> autoCreationWebhookFilters = null,
                string autoCreationStudioFlowSid = null,
                int? autoCreationStudioRetryCount = null,
                string addressCountry = null)
            => CoreHelper.RunTask(CreateConfigurationAddressAsync(type, address, friendlyName, autoCreationEnabled, autoCreationType, autoCreationConversationServiceSid, autoCreationWebhookUrl, autoCreationWebhookMethod, autoCreationWebhookFilters, autoCreationStudioFlowSid, autoCreationStudioRetryCount, addressCountry));

        /// <summary>
        /// Create a new address configuration.
        /// </summary>
        /// <param name="type">Required parameter: Type of Address, value can be `whatsapp` or `sms`..</param>
        /// <param name="address">Required parameter: The unique address to be configured. The address can be a whatsapp address or phone number.</param>
        /// <param name="friendlyName">Optional parameter: The human-readable name of this configuration, limited to 256 characters. Optional..</param>
        /// <param name="autoCreationEnabled">Optional parameter: Enable/Disable auto-creating conversations for messages to this address.</param>
        /// <param name="autoCreationType">Optional parameter: .</param>
        /// <param name="autoCreationConversationServiceSid">Optional parameter: Conversation Service for the auto-created conversation. If not set, the conversation is created in the default service..</param>
        /// <param name="autoCreationWebhookUrl">Optional parameter: For type `webhook`, the url for the webhook request..</param>
        /// <param name="autoCreationWebhookMethod">Optional parameter: .</param>
        /// <param name="autoCreationWebhookFilters">Optional parameter: The list of events, firing webhook event for this Conversation. Values can be any of the following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`.</param>
        /// <param name="autoCreationStudioFlowSid">Optional parameter: For type `studio`, the studio flow SID where the webhook should be sent to..</param>
        /// <param name="autoCreationStudioRetryCount">Optional parameter: For type `studio`, number of times to retry the webhook request.</param>
        /// <param name="addressCountry">Optional parameter: An ISO 3166-1 alpha-2n country code which the address belongs to. This is currently only applicable to short code addresses..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ConfigurationAddress response from the API call.</returns>
        public async Task<ApiResponse<Models.ConfigurationAddress>> CreateConfigurationAddressAsync(
                Models.ConfigurationAddressType type,
                string address,
                string friendlyName = null,
                bool? autoCreationEnabled = null,
                Models.ConfigurationAddressAutoCreationType? autoCreationType = null,
                string autoCreationConversationServiceSid = null,
                string autoCreationWebhookUrl = null,
                Models.ConfigurationAddressMethod? autoCreationWebhookMethod = null,
                List<string> autoCreationWebhookFilters = null,
                string autoCreationStudioFlowSid = null,
                int? autoCreationStudioRetryCount = null,
                string addressCountry = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ConfigurationAddress>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Configuration/Addresses")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Type", CoreHelper.JsonSerialize(type).Trim('\"')))
                      .Form(form => form.Setup("Address", address).Required())
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("AutoCreation.Enabled", autoCreationEnabled))
                      .Form(form => form.Setup("AutoCreation.Type", (autoCreationType.HasValue) ? CoreHelper.JsonSerialize(autoCreationType.Value).Trim('\"') : null))
                      .Form(form => form.Setup("AutoCreation.ConversationServiceSid", autoCreationConversationServiceSid))
                      .Form(form => form.Setup("AutoCreation.WebhookUrl", autoCreationWebhookUrl))
                      .Form(form => form.Setup("AutoCreation.WebhookMethod", (autoCreationWebhookMethod.HasValue) ? CoreHelper.JsonSerialize(autoCreationWebhookMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("AutoCreation.WebhookFilters", autoCreationWebhookFilters))
                      .Form(form => form.Setup("AutoCreation.StudioFlowSid", autoCreationStudioFlowSid))
                      .Form(form => form.Setup("AutoCreation.StudioRetryCount", autoCreationStudioRetryCount))
                      .Form(form => form.Setup("AddressCountry", addressCountry))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Fetch an address configuration .
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration.</param>
        /// <returns>Returns the ApiResponse of Models.ConfigurationAddress response from the API call.</returns>
        public ApiResponse<Models.ConfigurationAddress> FetchConfigurationAddress(
                string sid)
            => CoreHelper.RunTask(FetchConfigurationAddressAsync(sid));

        /// <summary>
        /// Fetch an address configuration .
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ConfigurationAddress response from the API call.</returns>
        public async Task<ApiResponse<Models.ConfigurationAddress>> FetchConfigurationAddressAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ConfigurationAddress>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Configuration/Addresses/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update an existing address configuration.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration.</param>
        /// <param name="friendlyName">Optional parameter: The human-readable name of this configuration, limited to 256 characters. Optional..</param>
        /// <param name="autoCreationEnabled">Optional parameter: Enable/Disable auto-creating conversations for messages to this address.</param>
        /// <param name="autoCreationType">Optional parameter: .</param>
        /// <param name="autoCreationConversationServiceSid">Optional parameter: Conversation Service for the auto-created conversation. If not set, the conversation is created in the default service..</param>
        /// <param name="autoCreationWebhookUrl">Optional parameter: For type `webhook`, the url for the webhook request..</param>
        /// <param name="autoCreationWebhookMethod">Optional parameter: .</param>
        /// <param name="autoCreationWebhookFilters">Optional parameter: The list of events, firing webhook event for this Conversation. Values can be any of the following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`.</param>
        /// <param name="autoCreationStudioFlowSid">Optional parameter: For type `studio`, the studio flow SID where the webhook should be sent to..</param>
        /// <param name="autoCreationStudioRetryCount">Optional parameter: For type `studio`, number of times to retry the webhook request.</param>
        /// <returns>Returns the ApiResponse of Models.ConfigurationAddress response from the API call.</returns>
        public ApiResponse<Models.ConfigurationAddress> UpdateConfigurationAddress(
                string sid,
                string friendlyName = null,
                bool? autoCreationEnabled = null,
                Models.ConfigurationAddressAutoCreationType? autoCreationType = null,
                string autoCreationConversationServiceSid = null,
                string autoCreationWebhookUrl = null,
                Models.ConfigurationAddressMethod? autoCreationWebhookMethod = null,
                List<string> autoCreationWebhookFilters = null,
                string autoCreationStudioFlowSid = null,
                int? autoCreationStudioRetryCount = null)
            => CoreHelper.RunTask(UpdateConfigurationAddressAsync(sid, friendlyName, autoCreationEnabled, autoCreationType, autoCreationConversationServiceSid, autoCreationWebhookUrl, autoCreationWebhookMethod, autoCreationWebhookFilters, autoCreationStudioFlowSid, autoCreationStudioRetryCount));

        /// <summary>
        /// Update an existing address configuration.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration.</param>
        /// <param name="friendlyName">Optional parameter: The human-readable name of this configuration, limited to 256 characters. Optional..</param>
        /// <param name="autoCreationEnabled">Optional parameter: Enable/Disable auto-creating conversations for messages to this address.</param>
        /// <param name="autoCreationType">Optional parameter: .</param>
        /// <param name="autoCreationConversationServiceSid">Optional parameter: Conversation Service for the auto-created conversation. If not set, the conversation is created in the default service..</param>
        /// <param name="autoCreationWebhookUrl">Optional parameter: For type `webhook`, the url for the webhook request..</param>
        /// <param name="autoCreationWebhookMethod">Optional parameter: .</param>
        /// <param name="autoCreationWebhookFilters">Optional parameter: The list of events, firing webhook event for this Conversation. Values can be any of the following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`, `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`.</param>
        /// <param name="autoCreationStudioFlowSid">Optional parameter: For type `studio`, the studio flow SID where the webhook should be sent to..</param>
        /// <param name="autoCreationStudioRetryCount">Optional parameter: For type `studio`, number of times to retry the webhook request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ConfigurationAddress response from the API call.</returns>
        public async Task<ApiResponse<Models.ConfigurationAddress>> UpdateConfigurationAddressAsync(
                string sid,
                string friendlyName = null,
                bool? autoCreationEnabled = null,
                Models.ConfigurationAddressAutoCreationType? autoCreationType = null,
                string autoCreationConversationServiceSid = null,
                string autoCreationWebhookUrl = null,
                Models.ConfigurationAddressMethod? autoCreationWebhookMethod = null,
                List<string> autoCreationWebhookFilters = null,
                string autoCreationStudioFlowSid = null,
                int? autoCreationStudioRetryCount = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ConfigurationAddress>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Configuration/Addresses/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("AutoCreation.Enabled", autoCreationEnabled))
                      .Form(form => form.Setup("AutoCreation.Type", (autoCreationType.HasValue) ? CoreHelper.JsonSerialize(autoCreationType.Value).Trim('\"') : null))
                      .Form(form => form.Setup("AutoCreation.ConversationServiceSid", autoCreationConversationServiceSid))
                      .Form(form => form.Setup("AutoCreation.WebhookUrl", autoCreationWebhookUrl))
                      .Form(form => form.Setup("AutoCreation.WebhookMethod", (autoCreationWebhookMethod.HasValue) ? CoreHelper.JsonSerialize(autoCreationWebhookMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("AutoCreation.WebhookFilters", autoCreationWebhookFilters))
                      .Form(form => form.Setup("AutoCreation.StudioFlowSid", autoCreationStudioFlowSid))
                      .Form(form => form.Setup("AutoCreation.StudioRetryCount", autoCreationStudioRetryCount))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove an existing address configuration.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration.</param>
        public void DeleteConfigurationAddress(
                string sid)
            => CoreHelper.RunVoidTask(DeleteConfigurationAddressAsync(sid));

        /// <summary>
        /// Remove an existing address configuration.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Address Configuration resource. This value can be either the `sid` or the `address` of the configuration.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteConfigurationAddressAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Configuration/Addresses/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}