// <copyright file="ConversationsV1ParticipantConversationApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// ConversationsV1ParticipantConversationApi.
    /// </summary>
    public class ConversationsV1ParticipantConversationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ConversationsV1ParticipantConversationApi"/> class.
        /// </summary>
        internal ConversationsV1ParticipantConversationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
        /// </summary>
        /// <param name="identity">Optional parameter: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters..</param>
        /// <param name="address">Optional parameter: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListParticipantConversationResponse response from the API call.</returns>
        public ApiResponse<Models.ListParticipantConversationResponse> ListParticipantConversation(
                string identity = null,
                string address = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListParticipantConversationAsync(identity, address, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
        /// </summary>
        /// <param name="identity">Optional parameter: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters..</param>
        /// <param name="address">Optional parameter: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListParticipantConversationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListParticipantConversationResponse>> ListParticipantConversationAsync(
                string identity = null,
                string address = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListParticipantConversationResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/ParticipantConversations")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("Identity", identity))
                      .Query(query => query.Setup("Address", address))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant Conversations resource is associated with..</param>
        /// <param name="identity">Optional parameter: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters..</param>
        /// <param name="address">Optional parameter: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListServiceParticipantConversationResponse response from the API call.</returns>
        public ApiResponse<Models.ListServiceParticipantConversationResponse> ListServiceParticipantConversation(
                string chatServiceSid,
                string identity = null,
                string address = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListServiceParticipantConversationAsync(chatServiceSid, identity, address, pageSize, page, pageToken));

        /// <summary>
        /// Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
        /// </summary>
        /// <param name="chatServiceSid">Required parameter: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant Conversations resource is associated with..</param>
        /// <param name="identity">Optional parameter: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters..</param>
        /// <param name="address">Optional parameter: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 50..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListServiceParticipantConversationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListServiceParticipantConversationResponse>> ListServiceParticipantConversationAsync(
                string chatServiceSid,
                string identity = null,
                string address = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListServiceParticipantConversationResponse>()
              .Server(Server.Default2)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ChatServiceSid}/ParticipantConversations")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ChatServiceSid", chatServiceSid).Required())
                      .Query(query => query.Setup("Identity", identity))
                      .Query(query => query.Setup("Address", address))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}