// <copyright file="NotifyV1CredentialApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// NotifyV1CredentialApi.
    /// </summary>
    public class NotifyV1CredentialApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="NotifyV1CredentialApi"/> class.
        /// </summary>
        internal NotifyV1CredentialApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// ListCredential EndPoint.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListCredentialResponse response from the API call.</returns>
        public ApiResponse<Models.ListCredentialResponse> ListCredential(
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListCredentialAsync(pageSize, page, pageToken));

        /// <summary>
        /// ListCredential EndPoint.
        /// </summary>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListCredentialResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListCredentialResponse>> ListCredentialAsync(
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListCredentialResponse>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Credentials")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateCredential EndPoint.
        /// </summary>
        /// <param name="type">Required parameter: The Credential type. Can be: `gcm`, `fcm`, or `apn`..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL-encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`.</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL-encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\n.-----END RSA PRIVATE KEY-----`.</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <param name="secret">Optional parameter: [FCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <returns>Returns the ApiResponse of Models.Credential1 response from the API call.</returns>
        public ApiResponse<Models.Credential1> CreateCredential(
                Models.CredentialPushType type,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null)
            => CoreHelper.RunTask(CreateCredentialAsync(type, friendlyName, certificate, privateKey, sandbox, apiKey, secret));

        /// <summary>
        /// CreateCredential EndPoint.
        /// </summary>
        /// <param name="type">Required parameter: The Credential type. Can be: `gcm`, `fcm`, or `apn`..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL-encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`.</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL-encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\n.-----END RSA PRIVATE KEY-----`.</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <param name="secret">Optional parameter: [FCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Credential1 response from the API call.</returns>
        public async Task<ApiResponse<Models.Credential1>> CreateCredentialAsync(
                Models.CredentialPushType type,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Credential1>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Credentials")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Type", CoreHelper.JsonSerialize(type).Trim('\"')))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("Certificate", certificate))
                      .Form(form => form.Setup("PrivateKey", privateKey))
                      .Form(form => form.Setup("Sandbox", sandbox))
                      .Form(form => form.Setup("ApiKey", apiKey))
                      .Form(form => form.Setup("Secret", secret))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// FetchCredential EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Credential resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Credential1 response from the API call.</returns>
        public ApiResponse<Models.Credential1> FetchCredential(
                string sid)
            => CoreHelper.RunTask(FetchCredentialAsync(sid));

        /// <summary>
        /// FetchCredential EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Credential resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Credential1 response from the API call.</returns>
        public async Task<ApiResponse<Models.Credential1>> FetchCredentialAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Credential1>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Credentials/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateCredential EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Credential resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL-encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`.</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL-encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\n.-----END RSA PRIVATE KEY-----`.</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <param name="secret">Optional parameter: [FCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <returns>Returns the ApiResponse of Models.Credential1 response from the API call.</returns>
        public ApiResponse<Models.Credential1> UpdateCredential(
                string sid,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null)
            => CoreHelper.RunTask(UpdateCredentialAsync(sid, friendlyName, certificate, privateKey, sandbox, apiKey, secret));

        /// <summary>
        /// UpdateCredential EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Credential resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the resource. It can be up to 64 characters long..</param>
        /// <param name="certificate">Optional parameter: [APN only] The URL-encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`.</param>
        /// <param name="privateKey">Optional parameter: [APN only] The URL-encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\n.-----END RSA PRIVATE KEY-----`.</param>
        /// <param name="sandbox">Optional parameter: [APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production..</param>
        /// <param name="apiKey">Optional parameter: [GCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <param name="secret">Optional parameter: [FCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Credential1 response from the API call.</returns>
        public async Task<ApiResponse<Models.Credential1>> UpdateCredentialAsync(
                string sid,
                string friendlyName = null,
                string certificate = null,
                string privateKey = null,
                bool? sandbox = null,
                string apiKey = null,
                string secret = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Credential1>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Credentials/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("Certificate", certificate))
                      .Form(form => form.Setup("PrivateKey", privateKey))
                      .Form(form => form.Setup("Sandbox", sandbox))
                      .Form(form => form.Setup("ApiKey", apiKey))
                      .Form(form => form.Setup("Secret", secret))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteCredential EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Credential resource to delete..</param>
        public void DeleteCredential(
                string sid)
            => CoreHelper.RunVoidTask(DeleteCredentialAsync(sid));

        /// <summary>
        /// DeleteCredential EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Credential resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteCredentialAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Credentials/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}