// <copyright file="NotifyV1BindingApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// NotifyV1BindingApi.
    /// </summary>
    public class NotifyV1BindingApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="NotifyV1BindingApi"/> class.
        /// </summary>
        internal NotifyV1BindingApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to fetch the resource from..</param>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Binding resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Binding response from the API call.</returns>
        public ApiResponse<Models.Binding> FetchBinding(
                string serviceSid,
                string sid)
            => CoreHelper.RunTask(FetchBindingAsync(serviceSid, sid));

        /// <summary>
        /// FetchBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to fetch the resource from..</param>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Binding resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Binding response from the API call.</returns>
        public async Task<ApiResponse<Models.Binding>> FetchBindingAsync(
                string serviceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Binding>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ServiceSid}/Bindings/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ServiceSid", serviceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to delete the resource from..</param>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Binding resource to delete..</param>
        public void DeleteBinding(
                string serviceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteBindingAsync(serviceSid, sid));

        /// <summary>
        /// DeleteBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to delete the resource from..</param>
        /// <param name="sid">Required parameter: The Twilio-provided string that uniquely identifies the Binding resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteBindingAsync(
                string serviceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Services/{ServiceSid}/Bindings/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ServiceSid", serviceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to create the resource under..</param>
        /// <param name="identity">Required parameter: The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/chat/rest/user-resource) within the [Service](https://www.twilio.com/docs/notify/api/service-resource). Up to 20 Bindings can be created for the same Identity in a given Service..</param>
        /// <param name="bindingType">Required parameter: The transport technology to use for the Binding. Can be: `apn`, `fcm`, `gcm`, `sms`, or `facebook-messenger`..</param>
        /// <param name="address">Required parameter: The channel-specific address. For APNS, the device token. For FCM and GCM, the registration token. For SMS, a phone number in E.164 format. For Facebook Messenger, the Messenger ID of the user or a phone number in E.164 format..</param>
        /// <param name="tag">Optional parameter: A tag that can be used to select the Bindings to notify. Repeat this parameter to specify more than one tag, up to a total of 20 tags..</param>
        /// <param name="notificationProtocolVersion">Optional parameter: The protocol version to use to send the notification. This defaults to the value of `default_xxxx_notification_protocol_version` for the protocol in the [Service](https://www.twilio.com/docs/notify/api/service-resource). The current version is `"3"` for `apn`, `fcm`, and `gcm` type Bindings. The parameter is not applicable to `sms` and `facebook-messenger` type Bindings as the data format is fixed..</param>
        /// <param name="credentialSid">Optional parameter: The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) resource to be used to send notifications to this Binding. If present, this overrides the Credential specified in the Service resource. Applies to only `apn`, `fcm`, and `gcm` type Bindings..</param>
        /// <param name="endpoint">Optional parameter: Deprecated..</param>
        /// <returns>Returns the ApiResponse of Models.Binding response from the API call.</returns>
        public ApiResponse<Models.Binding> CreateBinding(
                string serviceSid,
                string identity,
                Models.BindingBindingType bindingType,
                string address,
                List<string> tag = null,
                string notificationProtocolVersion = null,
                string credentialSid = null,
                string endpoint = null)
            => CoreHelper.RunTask(CreateBindingAsync(serviceSid, identity, bindingType, address, tag, notificationProtocolVersion, credentialSid, endpoint));

        /// <summary>
        /// CreateBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to create the resource under..</param>
        /// <param name="identity">Required parameter: The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/chat/rest/user-resource) within the [Service](https://www.twilio.com/docs/notify/api/service-resource). Up to 20 Bindings can be created for the same Identity in a given Service..</param>
        /// <param name="bindingType">Required parameter: The transport technology to use for the Binding. Can be: `apn`, `fcm`, `gcm`, `sms`, or `facebook-messenger`..</param>
        /// <param name="address">Required parameter: The channel-specific address. For APNS, the device token. For FCM and GCM, the registration token. For SMS, a phone number in E.164 format. For Facebook Messenger, the Messenger ID of the user or a phone number in E.164 format..</param>
        /// <param name="tag">Optional parameter: A tag that can be used to select the Bindings to notify. Repeat this parameter to specify more than one tag, up to a total of 20 tags..</param>
        /// <param name="notificationProtocolVersion">Optional parameter: The protocol version to use to send the notification. This defaults to the value of `default_xxxx_notification_protocol_version` for the protocol in the [Service](https://www.twilio.com/docs/notify/api/service-resource). The current version is `"3"` for `apn`, `fcm`, and `gcm` type Bindings. The parameter is not applicable to `sms` and `facebook-messenger` type Bindings as the data format is fixed..</param>
        /// <param name="credentialSid">Optional parameter: The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) resource to be used to send notifications to this Binding. If present, this overrides the Credential specified in the Service resource. Applies to only `apn`, `fcm`, and `gcm` type Bindings..</param>
        /// <param name="endpoint">Optional parameter: Deprecated..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Binding response from the API call.</returns>
        public async Task<ApiResponse<Models.Binding>> CreateBindingAsync(
                string serviceSid,
                string identity,
                Models.BindingBindingType bindingType,
                string address,
                List<string> tag = null,
                string notificationProtocolVersion = null,
                string credentialSid = null,
                string endpoint = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Binding>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Services/{ServiceSid}/Bindings")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ServiceSid", serviceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Identity", identity).Required())
                      .Form(form => form.Setup("BindingType", CoreHelper.JsonSerialize(bindingType).Trim('\"')))
                      .Form(form => form.Setup("Address", address).Required())
                      .Form(form => form.Setup("Tag", tag))
                      .Form(form => form.Setup("NotificationProtocolVersion", notificationProtocolVersion))
                      .Form(form => form.Setup("CredentialSid", credentialSid))
                      .Form(form => form.Setup("Endpoint", endpoint))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to read the resource from..</param>
        /// <param name="startDate">Optional parameter: Only include usage that has occurred on or after this date. Specify the date in GMT and format as `YYYY-MM-DD`..</param>
        /// <param name="endDate">Optional parameter: Only include usage that occurred on or before this date. Specify the date in GMT and format as `YYYY-MM-DD`..</param>
        /// <param name="identity">Optional parameter: The [User](https://www.twilio.com/docs/chat/rest/user-resource)'s `identity` value of the resources to read..</param>
        /// <param name="tag">Optional parameter: Only list Bindings that have all of the specified Tags. The following implicit tags are available: `all`, `apn`, `fcm`, `gcm`, `sms`, `facebook-messenger`. Up to 5 tags are allowed..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListBindingResponse response from the API call.</returns>
        public ApiResponse<Models.ListBindingResponse> ListBinding(
                string serviceSid,
                DateTime? startDate = null,
                DateTime? endDate = null,
                List<string> identity = null,
                List<string> tag = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListBindingAsync(serviceSid, startDate, endDate, identity, tag, pageSize, page, pageToken));

        /// <summary>
        /// ListBinding EndPoint.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to read the resource from..</param>
        /// <param name="startDate">Optional parameter: Only include usage that has occurred on or after this date. Specify the date in GMT and format as `YYYY-MM-DD`..</param>
        /// <param name="endDate">Optional parameter: Only include usage that occurred on or before this date. Specify the date in GMT and format as `YYYY-MM-DD`..</param>
        /// <param name="identity">Optional parameter: The [User](https://www.twilio.com/docs/chat/rest/user-resource)'s `identity` value of the resources to read..</param>
        /// <param name="tag">Optional parameter: Only list Bindings that have all of the specified Tags. The following implicit tags are available: `all`, `apn`, `fcm`, `gcm`, `sms`, `facebook-messenger`. Up to 5 tags are allowed..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListBindingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListBindingResponse>> ListBindingAsync(
                string serviceSid,
                DateTime? startDate = null,
                DateTime? endDate = null,
                List<string> identity = null,
                List<string> tag = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListBindingResponse>()
              .Server(Server.Default3)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Services/{ServiceSid}/Bindings")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ServiceSid", serviceSid).Required())
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd") : null))
                      .Query(query => query.Setup("Identity", identity))
                      .Query(query => query.Setup("Tag", tag))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}