// <copyright file="TaskrouterV1TaskQueueApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskQueueApi.
    /// </summary>
    public class TaskrouterV1TaskQueueApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskQueueApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskQueueApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the TaskQueue resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.TaskQueue response from the API call.</returns>
        public ApiResponse<Models.TaskQueue> FetchTaskQueue(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchTaskQueueAsync(workspaceSid, sid));

        /// <summary>
        /// FetchTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the TaskQueue resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskQueue response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskQueue>> FetchTaskQueueAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskQueue>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to update..</param>
        /// <param name="sid">Required parameter: The SID of the TaskQueue resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`..</param>
        /// <param name="targetWorkers">Optional parameter: A string describing the Worker selection criteria for any Tasks that enter the TaskQueue. For example '"language" == "spanish"' If no TargetWorkers parameter is provided, Tasks will wait in the queue until they are either deleted or moved to another queue. Additional examples on how to describing Worker selection criteria below..</param>
        /// <param name="reservationActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is reserved for them..</param>
        /// <param name="assignmentActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is assigned for them..</param>
        /// <param name="maxReservedWorkers">Optional parameter: The maximum number of Workers to create reservations for the assignment of a task while in the queue. Maximum of 50..</param>
        /// <param name="taskOrder">Optional parameter: How Tasks will be assigned to Workers. Set this parameter to `LIFO` to assign most recently created Task first or `FIFO` to assign the oldest Task. Default is FIFO. [Click here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo) to learn more..</param>
        /// <returns>Returns the ApiResponse of Models.TaskQueue response from the API call.</returns>
        public ApiResponse<Models.TaskQueue> UpdateTaskQueue(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                string targetWorkers = null,
                string reservationActivitySid = null,
                string assignmentActivitySid = null,
                int? maxReservedWorkers = null,
                Models.TaskQueueTaskOrder? taskOrder = null)
            => CoreHelper.RunTask(UpdateTaskQueueAsync(workspaceSid, sid, friendlyName, targetWorkers, reservationActivitySid, assignmentActivitySid, maxReservedWorkers, taskOrder));

        /// <summary>
        /// UpdateTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to update..</param>
        /// <param name="sid">Required parameter: The SID of the TaskQueue resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`..</param>
        /// <param name="targetWorkers">Optional parameter: A string describing the Worker selection criteria for any Tasks that enter the TaskQueue. For example '"language" == "spanish"' If no TargetWorkers parameter is provided, Tasks will wait in the queue until they are either deleted or moved to another queue. Additional examples on how to describing Worker selection criteria below..</param>
        /// <param name="reservationActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is reserved for them..</param>
        /// <param name="assignmentActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is assigned for them..</param>
        /// <param name="maxReservedWorkers">Optional parameter: The maximum number of Workers to create reservations for the assignment of a task while in the queue. Maximum of 50..</param>
        /// <param name="taskOrder">Optional parameter: How Tasks will be assigned to Workers. Set this parameter to `LIFO` to assign most recently created Task first or `FIFO` to assign the oldest Task. Default is FIFO. [Click here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo) to learn more..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskQueue response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskQueue>> UpdateTaskQueueAsync(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                string targetWorkers = null,
                string reservationActivitySid = null,
                string assignmentActivitySid = null,
                int? maxReservedWorkers = null,
                Models.TaskQueueTaskOrder? taskOrder = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskQueue>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("TargetWorkers", targetWorkers))
                      .Form(form => form.Setup("ReservationActivitySid", reservationActivitySid))
                      .Form(form => form.Setup("AssignmentActivitySid", assignmentActivitySid))
                      .Form(form => form.Setup("MaxReservedWorkers", maxReservedWorkers))
                      .Form(form => form.Setup("TaskOrder", (taskOrder.HasValue) ? CoreHelper.JsonSerialize(taskOrder.Value).Trim('\"') : null))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to delete..</param>
        /// <param name="sid">Required parameter: The SID of the TaskQueue resource to delete..</param>
        public void DeleteTaskQueue(
                string workspaceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteTaskQueueAsync(workspaceSid, sid));

        /// <summary>
        /// DeleteTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to delete..</param>
        /// <param name="sid">Required parameter: The SID of the TaskQueue resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteTaskQueueAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to read..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the TaskQueue resources to read..</param>
        /// <param name="evaluateWorkerAttributes">Optional parameter: The attributes of the Workers to read. Returns the TaskQueues with Workers that match the attributes specified in this parameter..</param>
        /// <param name="workerSid">Optional parameter: The SID of the Worker with the TaskQueue resources to read..</param>
        /// <param name="ordering">Optional parameter: Sorting parameter for TaskQueues.</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListTaskQueueResponse response from the API call.</returns>
        public ApiResponse<Models.ListTaskQueueResponse> ListTaskQueue(
                string workspaceSid,
                string friendlyName = null,
                string evaluateWorkerAttributes = null,
                string workerSid = null,
                string ordering = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListTaskQueueAsync(workspaceSid, friendlyName, evaluateWorkerAttributes, workerSid, ordering, pageSize, page, pageToken));

        /// <summary>
        /// ListTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to read..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the TaskQueue resources to read..</param>
        /// <param name="evaluateWorkerAttributes">Optional parameter: The attributes of the Workers to read. Returns the TaskQueues with Workers that match the attributes specified in this parameter..</param>
        /// <param name="workerSid">Optional parameter: The SID of the Worker with the TaskQueue resources to read..</param>
        /// <param name="ordering">Optional parameter: Sorting parameter for TaskQueues.</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListTaskQueueResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListTaskQueueResponse>> ListTaskQueueAsync(
                string workspaceSid,
                string friendlyName = null,
                string evaluateWorkerAttributes = null,
                string workerSid = null,
                string ordering = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListTaskQueueResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskQueues")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("EvaluateWorkerAttributes", evaluateWorkerAttributes))
                      .Query(query => query.Setup("WorkerSid", workerSid))
                      .Query(query => query.Setup("Ordering", ordering))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new TaskQueue belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`..</param>
        /// <param name="targetWorkers">Optional parameter: A string that describes the Worker selection criteria for any Tasks that enter the TaskQueue. For example, `'"language" == "spanish"'`. The default value is `1==1`. If this value is empty, Tasks will wait in the TaskQueue until they are deleted or moved to another TaskQueue. For more information about Worker selection, see [Describing Worker selection criteria](https://www.twilio.com/docs/taskrouter/api/taskqueues#target-workers)..</param>
        /// <param name="maxReservedWorkers">Optional parameter: The maximum number of Workers to reserve for the assignment of a Task in the queue. Can be an integer between 1 and 50, inclusive and defaults to 1..</param>
        /// <param name="taskOrder">Optional parameter: How Tasks will be assigned to Workers. Set this parameter to `LIFO` to assign most recently created Task first or `FIFO` to assign the oldest Task. Default is FIFO. [Click here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo) to learn more..</param>
        /// <param name="reservationActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is reserved for them..</param>
        /// <param name="assignmentActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is assigned to them..</param>
        /// <returns>Returns the ApiResponse of Models.TaskQueue response from the API call.</returns>
        public ApiResponse<Models.TaskQueue> CreateTaskQueue(
                string workspaceSid,
                string friendlyName,
                string targetWorkers = null,
                int? maxReservedWorkers = null,
                Models.TaskQueueTaskOrder? taskOrder = null,
                string reservationActivitySid = null,
                string assignmentActivitySid = null)
            => CoreHelper.RunTask(CreateTaskQueueAsync(workspaceSid, friendlyName, targetWorkers, maxReservedWorkers, taskOrder, reservationActivitySid, assignmentActivitySid));

        /// <summary>
        /// CreateTaskQueue EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new TaskQueue belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`..</param>
        /// <param name="targetWorkers">Optional parameter: A string that describes the Worker selection criteria for any Tasks that enter the TaskQueue. For example, `'"language" == "spanish"'`. The default value is `1==1`. If this value is empty, Tasks will wait in the TaskQueue until they are deleted or moved to another TaskQueue. For more information about Worker selection, see [Describing Worker selection criteria](https://www.twilio.com/docs/taskrouter/api/taskqueues#target-workers)..</param>
        /// <param name="maxReservedWorkers">Optional parameter: The maximum number of Workers to reserve for the assignment of a Task in the queue. Can be an integer between 1 and 50, inclusive and defaults to 1..</param>
        /// <param name="taskOrder">Optional parameter: How Tasks will be assigned to Workers. Set this parameter to `LIFO` to assign most recently created Task first or `FIFO` to assign the oldest Task. Default is FIFO. [Click here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo) to learn more..</param>
        /// <param name="reservationActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is reserved for them..</param>
        /// <param name="assignmentActivitySid">Optional parameter: The SID of the Activity to assign Workers when a task is assigned to them..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskQueue response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskQueue>> CreateTaskQueueAsync(
                string workspaceSid,
                string friendlyName,
                string targetWorkers = null,
                int? maxReservedWorkers = null,
                Models.TaskQueueTaskOrder? taskOrder = null,
                string reservationActivitySid = null,
                string assignmentActivitySid = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskQueue>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/TaskQueues")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("TargetWorkers", targetWorkers))
                      .Form(form => form.Setup("MaxReservedWorkers", maxReservedWorkers))
                      .Form(form => form.Setup("TaskOrder", (taskOrder.HasValue) ? CoreHelper.JsonSerialize(taskOrder.Value).Trim('\"') : null))
                      .Form(form => form.Setup("ReservationActivitySid", reservationActivitySid))
                      .Form(form => form.Setup("AssignmentActivitySid", assignmentActivitySid))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}