// <copyright file="TaskrouterV1TaskQueueCumulativeStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskQueueCumulativeStatisticsApi.
    /// </summary>
    public class TaskrouterV1TaskQueueCumulativeStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskQueueCumulativeStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskQueueCumulativeStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchTaskQueueCumulativeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to fetch..</param>
        /// <param name="taskQueueSid">Required parameter: The SID of the TaskQueue for which to fetch statistics..</param>
        /// <param name="endDate">Optional parameter: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default is 15 minutes..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="splitByWaitTime">Optional parameter: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. TaskRouter will calculate statistics on up to 10,000 Tasks/Reservations for any given threshold..</param>
        /// <returns>Returns the ApiResponse of Models.TaskQueueCumulative response from the API call.</returns>
        public ApiResponse<Models.TaskQueueCumulative> FetchTaskQueueCumulativeStatistics(
                string workspaceSid,
                string taskQueueSid,
                DateTime? endDate = null,
                int? minutes = null,
                DateTime? startDate = null,
                string taskChannel = null,
                string splitByWaitTime = null)
            => CoreHelper.RunTask(FetchTaskQueueCumulativeStatisticsAsync(workspaceSid, taskQueueSid, endDate, minutes, startDate, taskChannel, splitByWaitTime));

        /// <summary>
        /// FetchTaskQueueCumulativeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to fetch..</param>
        /// <param name="taskQueueSid">Required parameter: The SID of the TaskQueue for which to fetch statistics..</param>
        /// <param name="endDate">Optional parameter: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default is 15 minutes..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="splitByWaitTime">Optional parameter: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. TaskRouter will calculate statistics on up to 10,000 Tasks/Reservations for any given threshold..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskQueueCumulative response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskQueueCumulative>> FetchTaskQueueCumulativeStatisticsAsync(
                string workspaceSid,
                string taskQueueSid,
                DateTime? endDate = null,
                int? minutes = null,
                DateTime? startDate = null,
                string taskChannel = null,
                string splitByWaitTime = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskQueueCumulative>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/CumulativeStatistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("TaskQueueSid", taskQueueSid).Required())
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("Minutes", minutes))
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("TaskChannel", taskChannel))
                      .Query(query => query.Setup("SplitByWaitTime", splitByWaitTime))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}