// <copyright file="TaskrouterV1TaskQueueBulkRealTimeStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskQueueBulkRealTimeStatisticsApi.
    /// </summary>
    public class TaskrouterV1TaskQueueBulkRealTimeStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskQueueBulkRealTimeStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskQueueBulkRealTimeStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Fetch a Task Queue Real Time Statistics in bulk for the array of TaskQueue SIDs, support upto 50 in a request.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The unique SID identifier of the Workspace..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TaskQueueBulkRealTimeStatistics response from the API call.</returns>
        public ApiResponse<Models.TaskQueueBulkRealTimeStatistics> CreateTaskQueueBulkRealTimeStatistics(
                string workspaceSid,
                object body = null)
            => CoreHelper.RunTask(CreateTaskQueueBulkRealTimeStatisticsAsync(workspaceSid, body));

        /// <summary>
        /// Fetch a Task Queue Real Time Statistics in bulk for the array of TaskQueue SIDs, support upto 50 in a request.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The unique SID identifier of the Workspace..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskQueueBulkRealTimeStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskQueueBulkRealTimeStatistics>> CreateTaskQueueBulkRealTimeStatisticsAsync(
                string workspaceSid,
                object body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskQueueBulkRealTimeStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/RealTimeStatistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}