// <copyright file="TaskrouterV1WorkspaceRealTimeStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkspaceRealTimeStatisticsApi.
    /// </summary>
    public class TaskrouterV1WorkspaceRealTimeStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkspaceRealTimeStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkspaceRealTimeStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkspaceRealTimeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace to fetch..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate real-time statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <returns>Returns the ApiResponse of Models.WorkspaceRealTimeStatistics response from the API call.</returns>
        public ApiResponse<Models.WorkspaceRealTimeStatistics> FetchWorkspaceRealTimeStatistics(
                string workspaceSid,
                string taskChannel = null)
            => CoreHelper.RunTask(FetchWorkspaceRealTimeStatisticsAsync(workspaceSid, taskChannel));

        /// <summary>
        /// FetchWorkspaceRealTimeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace to fetch..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate real-time statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkspaceRealTimeStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkspaceRealTimeStatistics>> FetchWorkspaceRealTimeStatisticsAsync(
                string workspaceSid,
                string taskChannel = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkspaceRealTimeStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/RealTimeStatistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("TaskChannel", taskChannel))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}