// <copyright file="TaskrouterV1ActivityApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1ActivityApi.
    /// </summary>
    public class TaskrouterV1ActivityApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1ActivityApi"/> class.
        /// </summary>
        internal TaskrouterV1ActivityApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Activity resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Activity response from the API call.</returns>
        public ApiResponse<Models.Activity> FetchActivity(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchActivityAsync(workspaceSid, sid));

        /// <summary>
        /// FetchActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Activity resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Activity response from the API call.</returns>
        public async Task<ApiResponse<Models.Activity>> FetchActivityAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Activity>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to update..</param>
        /// <param name="sid">Required parameter: The SID of the Activity resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`..</param>
        /// <returns>Returns the ApiResponse of Models.Activity response from the API call.</returns>
        public ApiResponse<Models.Activity> UpdateActivity(
                string workspaceSid,
                string sid,
                string friendlyName = null)
            => CoreHelper.RunTask(UpdateActivityAsync(workspaceSid, sid, friendlyName));

        /// <summary>
        /// UpdateActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to update..</param>
        /// <param name="sid">Required parameter: The SID of the Activity resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Activity response from the API call.</returns>
        public async Task<ApiResponse<Models.Activity>> UpdateActivityAsync(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Activity>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Activity resource to delete..</param>
        public void DeleteActivity(
                string workspaceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteActivityAsync(workspaceSid, sid));

        /// <summary>
        /// DeleteActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Activity resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteActivityAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to read..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Activity resources to read..</param>
        /// <param name="available">Optional parameter: Whether return only Activity resources that are available or unavailable. A value of `true` returns only available activities. Values of '1' or `yes` also indicate `true`. All other values represent `false` and return activities that are unavailable..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListActivityResponse response from the API call.</returns>
        public ApiResponse<Models.ListActivityResponse> ListActivity(
                string workspaceSid,
                string friendlyName = null,
                string available = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListActivityAsync(workspaceSid, friendlyName, available, pageSize, page, pageToken));

        /// <summary>
        /// ListActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Activity resources to read..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Activity resources to read..</param>
        /// <param name="available">Optional parameter: Whether return only Activity resources that are available or unavailable. A value of `true` returns only available activities. Values of '1' or `yes` also indicate `true`. All other values represent `false` and return activities that are unavailable..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListActivityResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListActivityResponse>> ListActivityAsync(
                string workspaceSid,
                string friendlyName = null,
                string available = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListActivityResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Activities")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("Available", available))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Activity belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`..</param>
        /// <param name="available">Optional parameter: Whether the Worker should be eligible to receive a Task when it occupies the Activity. A value of `true`, `1`, or `yes` specifies the Activity is available. All other values specify that it is not. The value cannot be changed after the Activity is created..</param>
        /// <returns>Returns the ApiResponse of Models.Activity response from the API call.</returns>
        public ApiResponse<Models.Activity> CreateActivity(
                string workspaceSid,
                string friendlyName,
                bool? available = null)
            => CoreHelper.RunTask(CreateActivityAsync(workspaceSid, friendlyName, available));

        /// <summary>
        /// CreateActivity EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Activity belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`..</param>
        /// <param name="available">Optional parameter: Whether the Worker should be eligible to receive a Task when it occupies the Activity. A value of `true`, `1`, or `yes` specifies the Activity is available. All other values specify that it is not. The value cannot be changed after the Activity is created..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Activity response from the API call.</returns>
        public async Task<ApiResponse<Models.Activity>> CreateActivityAsync(
                string workspaceSid,
                string friendlyName,
                bool? available = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Activity>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Activities")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("Available", available))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}