// <copyright file="TaskrouterV1WorkspaceApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkspaceApi.
    /// </summary>
    public class TaskrouterV1WorkspaceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkspaceApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkspaceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkspace EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Workspace resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Workspace response from the API call.</returns>
        public ApiResponse<Models.Workspace> FetchWorkspace(
                string sid)
            => CoreHelper.RunTask(FetchWorkspaceAsync(sid));

        /// <summary>
        /// FetchWorkspace EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Workspace resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Workspace response from the API call.</returns>
        public async Task<ApiResponse<Models.Workspace>> FetchWorkspaceAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Workspace>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateWorkspace EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Workspace resource to update..</param>
        /// <param name="defaultActivitySid">Optional parameter: The SID of the Activity that will be used when new Workers are created in the Workspace..</param>
        /// <param name="eventCallbackUrl">Optional parameter: The URL we should call when an event occurs. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides)..</param>
        /// <param name="eventsFilter">Optional parameter: The list of Workspace events for which to call event_callback_url. For example if `EventsFilter=task.created,task.canceled,worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Workspace resource. For example: `Sales Call Center` or `Customer Support Team`..</param>
        /// <param name="multiTaskEnabled">Optional parameter: Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. However, all workspaces should be maintained as multi-tasking. There is no default when omitting this parameter. A multi-tasking Workspace can't be updated to single-tasking unless it is not a Flex Project and another (legacy) single-tasking Workspace exists. Multi-tasking allows Workers to handle multiple Tasks simultaneously. In multi-tasking mode, each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. In single-tasking mode (legacy mode), each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking)..</param>
        /// <param name="timeoutActivitySid">Optional parameter: The SID of the Activity that will be assigned to a Worker when a Task reservation times out without a response..</param>
        /// <param name="prioritizeQueueOrder">Optional parameter: The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo)..</param>
        /// <returns>Returns the ApiResponse of Models.Workspace response from the API call.</returns>
        public ApiResponse<Models.Workspace> UpdateWorkspace(
                string sid,
                string defaultActivitySid = null,
                string eventCallbackUrl = null,
                string eventsFilter = null,
                string friendlyName = null,
                bool? multiTaskEnabled = null,
                string timeoutActivitySid = null,
                Models.WorkspaceQueueOrder? prioritizeQueueOrder = null)
            => CoreHelper.RunTask(UpdateWorkspaceAsync(sid, defaultActivitySid, eventCallbackUrl, eventsFilter, friendlyName, multiTaskEnabled, timeoutActivitySid, prioritizeQueueOrder));

        /// <summary>
        /// UpdateWorkspace EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Workspace resource to update..</param>
        /// <param name="defaultActivitySid">Optional parameter: The SID of the Activity that will be used when new Workers are created in the Workspace..</param>
        /// <param name="eventCallbackUrl">Optional parameter: The URL we should call when an event occurs. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides)..</param>
        /// <param name="eventsFilter">Optional parameter: The list of Workspace events for which to call event_callback_url. For example if `EventsFilter=task.created,task.canceled,worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Workspace resource. For example: `Sales Call Center` or `Customer Support Team`..</param>
        /// <param name="multiTaskEnabled">Optional parameter: Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. However, all workspaces should be maintained as multi-tasking. There is no default when omitting this parameter. A multi-tasking Workspace can't be updated to single-tasking unless it is not a Flex Project and another (legacy) single-tasking Workspace exists. Multi-tasking allows Workers to handle multiple Tasks simultaneously. In multi-tasking mode, each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. In single-tasking mode (legacy mode), each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking)..</param>
        /// <param name="timeoutActivitySid">Optional parameter: The SID of the Activity that will be assigned to a Worker when a Task reservation times out without a response..</param>
        /// <param name="prioritizeQueueOrder">Optional parameter: The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Workspace response from the API call.</returns>
        public async Task<ApiResponse<Models.Workspace>> UpdateWorkspaceAsync(
                string sid,
                string defaultActivitySid = null,
                string eventCallbackUrl = null,
                string eventsFilter = null,
                string friendlyName = null,
                bool? multiTaskEnabled = null,
                string timeoutActivitySid = null,
                Models.WorkspaceQueueOrder? prioritizeQueueOrder = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Workspace>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("DefaultActivitySid", defaultActivitySid))
                      .Form(form => form.Setup("EventCallbackUrl", eventCallbackUrl))
                      .Form(form => form.Setup("EventsFilter", eventsFilter))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("MultiTaskEnabled", multiTaskEnabled))
                      .Form(form => form.Setup("TimeoutActivitySid", timeoutActivitySid))
                      .Form(form => form.Setup("PrioritizeQueueOrder", (prioritizeQueueOrder.HasValue) ? CoreHelper.JsonSerialize(prioritizeQueueOrder.Value).Trim('\"') : null))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteWorkspace EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Workspace resource to delete..</param>
        public void DeleteWorkspace(
                string sid)
            => CoreHelper.RunVoidTask(DeleteWorkspaceAsync(sid));

        /// <summary>
        /// DeleteWorkspace EndPoint.
        /// </summary>
        /// <param name="sid">Required parameter: The SID of the Workspace resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteWorkspaceAsync(
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListWorkspace EndPoint.
        /// </summary>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Workspace resources to read. For example `Customer Support` or `2014 Election Campaign`..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListWorkspaceResponse response from the API call.</returns>
        public ApiResponse<Models.ListWorkspaceResponse> ListWorkspace(
                string friendlyName = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListWorkspaceAsync(friendlyName, pageSize, page, pageToken));

        /// <summary>
        /// ListWorkspace EndPoint.
        /// </summary>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Workspace resources to read. For example `Customer Support` or `2014 Election Campaign`..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListWorkspaceResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListWorkspaceResponse>> ListWorkspaceAsync(
                string friendlyName = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListWorkspaceResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateWorkspace EndPoint.
        /// </summary>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Workspace resource. It can be up to 64 characters long. For example: `Customer Support` or `2014 Election Campaign`..</param>
        /// <param name="eventCallbackUrl">Optional parameter: The URL we should call when an event occurs. If provided, the Workspace will publish events to this URL, for example, to collect data for reporting. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides)..</param>
        /// <param name="eventsFilter">Optional parameter: The list of Workspace events for which to call event_callback_url. For example, if `EventsFilter=task.created, task.canceled, worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated..</param>
        /// <param name="multiTaskEnabled">Optional parameter: Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. However, all workspaces should be created as multi-tasking. The default is `true`. Multi-tasking allows Workers to handle multiple Tasks simultaneously. When enabled (`true`), each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. In single-tasking mode (legacy mode), each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking)..</param>
        /// <param name="template">Optional parameter: An available template name. Can be: `NONE` or `FIFO` and the default is `NONE`. Pre-configures the Workspace with the Workflow and Activities specified in the template. `NONE` will create a Workspace with only a set of default activities. `FIFO` will configure TaskRouter with a set of default activities and a single TaskQueue for first-in, first-out distribution, which can be useful when you are getting started with TaskRouter..</param>
        /// <param name="prioritizeQueueOrder">Optional parameter: The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo)..</param>
        /// <returns>Returns the ApiResponse of Models.Workspace response from the API call.</returns>
        public ApiResponse<Models.Workspace> CreateWorkspace(
                string friendlyName,
                string eventCallbackUrl = null,
                string eventsFilter = null,
                bool? multiTaskEnabled = null,
                string template = null,
                Models.WorkspaceQueueOrder? prioritizeQueueOrder = null)
            => CoreHelper.RunTask(CreateWorkspaceAsync(friendlyName, eventCallbackUrl, eventsFilter, multiTaskEnabled, template, prioritizeQueueOrder));

        /// <summary>
        /// CreateWorkspace EndPoint.
        /// </summary>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Workspace resource. It can be up to 64 characters long. For example: `Customer Support` or `2014 Election Campaign`..</param>
        /// <param name="eventCallbackUrl">Optional parameter: The URL we should call when an event occurs. If provided, the Workspace will publish events to this URL, for example, to collect data for reporting. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides)..</param>
        /// <param name="eventsFilter">Optional parameter: The list of Workspace events for which to call event_callback_url. For example, if `EventsFilter=task.created, task.canceled, worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated..</param>
        /// <param name="multiTaskEnabled">Optional parameter: Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. However, all workspaces should be created as multi-tasking. The default is `true`. Multi-tasking allows Workers to handle multiple Tasks simultaneously. When enabled (`true`), each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. In single-tasking mode (legacy mode), each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking)..</param>
        /// <param name="template">Optional parameter: An available template name. Can be: `NONE` or `FIFO` and the default is `NONE`. Pre-configures the Workspace with the Workflow and Activities specified in the template. `NONE` will create a Workspace with only a set of default activities. `FIFO` will configure TaskRouter with a set of default activities and a single TaskQueue for first-in, first-out distribution, which can be useful when you are getting started with TaskRouter..</param>
        /// <param name="prioritizeQueueOrder">Optional parameter: The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Workspace response from the API call.</returns>
        public async Task<ApiResponse<Models.Workspace>> CreateWorkspaceAsync(
                string friendlyName,
                string eventCallbackUrl = null,
                string eventsFilter = null,
                bool? multiTaskEnabled = null,
                string template = null,
                Models.WorkspaceQueueOrder? prioritizeQueueOrder = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Workspace>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("EventCallbackUrl", eventCallbackUrl))
                      .Form(form => form.Setup("EventsFilter", eventsFilter))
                      .Form(form => form.Setup("MultiTaskEnabled", multiTaskEnabled))
                      .Form(form => form.Setup("Template", template))
                      .Form(form => form.Setup("PrioritizeQueueOrder", (prioritizeQueueOrder.HasValue) ? CoreHelper.JsonSerialize(prioritizeQueueOrder.Value).Trim('\"') : null))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}