// <copyright file="TaskrouterV1WorkflowRealTimeStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkflowRealTimeStatisticsApi.
    /// </summary>
    public class TaskrouterV1WorkflowRealTimeStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkflowRealTimeStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkflowRealTimeStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkflowRealTimeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to fetch..</param>
        /// <param name="workflowSid">Required parameter: Returns the list of Tasks that are being controlled by the Workflow with the specified SID value..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate real-time statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <returns>Returns the ApiResponse of Models.WorkflowRealTimeStatistics response from the API call.</returns>
        public ApiResponse<Models.WorkflowRealTimeStatistics> FetchWorkflowRealTimeStatistics(
                string workspaceSid,
                string workflowSid,
                string taskChannel = null)
            => CoreHelper.RunTask(FetchWorkflowRealTimeStatisticsAsync(workspaceSid, workflowSid, taskChannel));

        /// <summary>
        /// FetchWorkflowRealTimeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to fetch..</param>
        /// <param name="workflowSid">Required parameter: Returns the list of Tasks that are being controlled by the Workflow with the specified SID value..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate real-time statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkflowRealTimeStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkflowRealTimeStatistics>> FetchWorkflowRealTimeStatisticsAsync(
                string workspaceSid,
                string workflowSid,
                string taskChannel = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkflowRealTimeStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workflows/{WorkflowSid}/RealTimeStatistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("WorkflowSid", workflowSid).Required())
                      .Query(query => query.Setup("TaskChannel", taskChannel))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}