// <copyright file="TaskrouterV1TaskReservationApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskReservationApi.
    /// </summary>
    public class TaskrouterV1TaskReservationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskReservationApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskReservationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Tasks reserved for workers.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskReservation resources to read..</param>
        /// <param name="taskSid">Required parameter: The SID of the reserved Task resource with the TaskReservation resources to read..</param>
        /// <param name="reservationStatus">Optional parameter: Returns the list of reservations for a task with a specified ReservationStatus.  Can be: `pending`, `accepted`, `rejected`, or `timeout`..</param>
        /// <param name="workerSid">Optional parameter: The SID of the reserved Worker resource to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListTaskReservationResponse response from the API call.</returns>
        public ApiResponse<Models.ListTaskReservationResponse> ListTaskReservation(
                string workspaceSid,
                string taskSid,
                Models.TaskReservationStatus? reservationStatus = null,
                string workerSid = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListTaskReservationAsync(workspaceSid, taskSid, reservationStatus, workerSid, pageSize, page, pageToken));

        /// <summary>
        /// Tasks reserved for workers.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskReservation resources to read..</param>
        /// <param name="taskSid">Required parameter: The SID of the reserved Task resource with the TaskReservation resources to read..</param>
        /// <param name="reservationStatus">Optional parameter: Returns the list of reservations for a task with a specified ReservationStatus.  Can be: `pending`, `accepted`, `rejected`, or `timeout`..</param>
        /// <param name="workerSid">Optional parameter: The SID of the reserved Worker resource to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListTaskReservationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListTaskReservationResponse>> ListTaskReservationAsync(
                string workspaceSid,
                string taskSid,
                Models.TaskReservationStatus? reservationStatus = null,
                string workerSid = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListTaskReservationResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("TaskSid", taskSid).Required())
                      .Query(query => query.Setup("ReservationStatus", (reservationStatus.HasValue) ? CoreHelper.JsonSerialize(reservationStatus.Value).Trim('\"') : null))
                      .Query(query => query.Setup("WorkerSid", workerSid))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Tasks reserved for workers.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskReservation resource to fetch..</param>
        /// <param name="taskSid">Required parameter: The SID of the reserved Task resource with the TaskReservation resource to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the TaskReservation resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.TaskReservation response from the API call.</returns>
        public ApiResponse<Models.TaskReservation> FetchTaskReservation(
                string workspaceSid,
                string taskSid,
                string sid)
            => CoreHelper.RunTask(FetchTaskReservationAsync(workspaceSid, taskSid, sid));

        /// <summary>
        /// Tasks reserved for workers.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskReservation resource to fetch..</param>
        /// <param name="taskSid">Required parameter: The SID of the reserved Task resource with the TaskReservation resource to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the TaskReservation resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskReservation response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskReservation>> FetchTaskReservationAsync(
                string workspaceSid,
                string taskSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskReservation>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("TaskSid", taskSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Tasks reserved for workers.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskReservation resources to update..</param>
        /// <param name="taskSid">Required parameter: The SID of the reserved Task resource with the TaskReservation resources to update..</param>
        /// <param name="sid">Required parameter: The SID of the TaskReservation resource to update..</param>
        /// <param name="ifMatch">Optional parameter: The If-Match HTTP request header.</param>
        /// <param name="reservationStatus">Optional parameter: The current status of the reservation. Can be: `pending`, `accepted`, `rejected`, or `timeout`..</param>
        /// <param name="workerActivitySid">Optional parameter: The new worker activity SID if rejecting a reservation..</param>
        /// <param name="instruction">Optional parameter: The assignment instruction for reservation..</param>
        /// <param name="dequeuePostWorkActivitySid">Optional parameter: The SID of the Activity resource to start after executing a Dequeue instruction..</param>
        /// <param name="dequeueFrom">Optional parameter: The Caller ID of the call to the worker when executing a Dequeue instruction..</param>
        /// <param name="dequeueRecord">Optional parameter: Whether to record both legs of a call when executing a Dequeue instruction or which leg to record..</param>
        /// <param name="dequeueTimeout">Optional parameter: Timeout for call when executing a Dequeue instruction..</param>
        /// <param name="dequeueTo">Optional parameter: The Contact URI of the worker when executing a Dequeue instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination..</param>
        /// <param name="dequeueStatusCallbackUrl">Optional parameter: The Callback URL for completed call event when executing a Dequeue instruction..</param>
        /// <param name="callFrom">Optional parameter: The Caller ID of the outbound call when executing a Call instruction..</param>
        /// <param name="callRecord">Optional parameter: Whether to record both legs of a call when executing a Call instruction or which leg to record..</param>
        /// <param name="callTimeout">Optional parameter: Timeout for call when executing a Call instruction..</param>
        /// <param name="callTo">Optional parameter: The Contact URI of the worker when executing a Call instruction.  Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination..</param>
        /// <param name="callUrl">Optional parameter: TwiML URI executed on answering the worker's leg as a result of the Call instruction..</param>
        /// <param name="callStatusCallbackUrl">Optional parameter: The URL to call  for the completed call event when executing a Call instruction..</param>
        /// <param name="callAccept">Optional parameter: Whether to accept a reservation when executing a Call instruction..</param>
        /// <param name="redirectCallSid">Optional parameter: The Call SID of the call parked in the queue when executing a Redirect instruction..</param>
        /// <param name="redirectAccept">Optional parameter: Whether the reservation should be accepted when executing a Redirect instruction..</param>
        /// <param name="redirectUrl">Optional parameter: TwiML URI to redirect the call to when executing the Redirect instruction..</param>
        /// <param name="to">Optional parameter: The Contact URI of the worker when executing a Conference instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination..</param>
        /// <param name="from">Optional parameter: The Caller ID of the call to the worker when executing a Conference instruction..</param>
        /// <param name="statusCallback">Optional parameter: The URL we should call using the `status_callback_method` to send status information to your application..</param>
        /// <param name="statusCallbackMethod">Optional parameter: The HTTP method we should use to call `status_callback`. Can be: `POST` or `GET` and the default is `POST`..</param>
        /// <param name="statusCallbackEvent">Optional parameter: The call progress events that we will send to `status_callback`. Can be: `initiated`, `ringing`, `answered`, or `completed`..</param>
        /// <param name="timeout">Optional parameter: Timeout for call when executing a Conference instruction..</param>
        /// <param name="record">Optional parameter: Whether to record the participant and their conferences, including the time between conferences. The default is `false`..</param>
        /// <param name="muted">Optional parameter: Whether the agent is muted in the conference. The default is `false`..</param>
        /// <param name="beep">Optional parameter: Whether to play a notification beep when the participant joins or when to play a beep. Can be: `true`, `false`, `onEnter`, or `onExit`. The default value is `true`..</param>
        /// <param name="startConferenceOnEnter">Optional parameter: Whether to start the conference when the participant joins, if it has not already started. The default is `true`. If `false` and the conference has not started, the participant is muted and hears background music until another participant starts the conference..</param>
        /// <param name="endConferenceOnExit">Optional parameter: Whether to end the conference when the agent leaves..</param>
        /// <param name="waitUrl">Optional parameter: The URL we should call using the `wait_method` for the music to play while participants are waiting for the conference to start. The default value is the URL of our standard hold music. [Learn more about hold music](https://www.twilio.com/labs/twimlets/holdmusic)..</param>
        /// <param name="waitMethod">Optional parameter: The HTTP method we should use to call `wait_url`. Can be `GET` or `POST` and the default is `POST`. When using a static audio file, this should be `GET` so that we can cache the file..</param>
        /// <param name="earlyMedia">Optional parameter: Whether to allow an agent to hear the state of the outbound call, including ringing or disconnect messages. The default is `true`..</param>
        /// <param name="maxParticipants">Optional parameter: The maximum number of participants in the conference. Can be a positive integer from `2` to `250`. The default value is `250`..</param>
        /// <param name="conferenceStatusCallback">Optional parameter: The URL we should call using the `conference_status_callback_method` when the conference events in `conference_status_callback_event` occur. Only the value set by the first participant to join the conference is used. Subsequent `conference_status_callback` values are ignored..</param>
        /// <param name="conferenceStatusCallbackMethod">Optional parameter: The HTTP method we should use to call `conference_status_callback`. Can be: `GET` or `POST` and defaults to `POST`..</param>
        /// <param name="conferenceStatusCallbackEvent">Optional parameter: The conference status events that we will send to `conference_status_callback`. Can be: `start`, `end`, `join`, `leave`, `mute`, `hold`, `speaker`..</param>
        /// <param name="conferenceRecord">Optional parameter: Whether to record the conference the participant is joining or when to record the conference. Can be: `true`, `false`, `record-from-start`, and `do-not-record`. The default value is `false`..</param>
        /// <param name="conferenceTrim">Optional parameter: How to trim the leading and trailing silence from your recorded conference audio files. Can be: `trim-silence` or `do-not-trim` and defaults to `trim-silence`..</param>
        /// <param name="recordingChannels">Optional parameter: The recording channels for the final recording. Can be: `mono` or `dual` and the default is `mono`..</param>
        /// <param name="recordingStatusCallback">Optional parameter: The URL that we should call using the `recording_status_callback_method` when the recording status changes..</param>
        /// <param name="recordingStatusCallbackMethod">Optional parameter: The HTTP method we should use when we call `recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`..</param>
        /// <param name="conferenceRecordingStatusCallback">Optional parameter: The URL we should call using the `conference_recording_status_callback_method` when the conference recording is available..</param>
        /// <param name="conferenceRecordingStatusCallbackMethod">Optional parameter: The HTTP method we should use to call `conference_recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`..</param>
        /// <param name="region">Optional parameter: The [region](https://support.twilio.com/hc/en-us/articles/223132167-How-global-low-latency-routing-and-region-selection-work-for-conferences-and-Client-calls) where we should mix the recorded audio. Can be:`us1`, `us2`, `ie1`, `de1`, `sg1`, `br1`, `au1`, or `jp1`..</param>
        /// <param name="sipAuthUsername">Optional parameter: The SIP username used for authentication..</param>
        /// <param name="sipAuthPassword">Optional parameter: The SIP password for authentication..</param>
        /// <param name="dequeueStatusCallbackEvent">Optional parameter: The Call progress events sent via webhooks as a result of a Dequeue instruction..</param>
        /// <param name="postWorkActivitySid">Optional parameter: The new worker activity SID after executing a Conference instruction..</param>
        /// <param name="supervisorMode">Optional parameter: .</param>
        /// <param name="supervisor">Optional parameter: The Supervisor SID/URI when executing the Supervise instruction..</param>
        /// <param name="endConferenceOnCustomerExit">Optional parameter: Whether to end the conference when the customer leaves..</param>
        /// <param name="beepOnCustomerEntrance">Optional parameter: Whether to play a notification beep when the customer joins..</param>
        /// <param name="jitterBufferSize">Optional parameter: The jitter buffer size for conference. Can be: `small`, `medium`, `large`, `off`..</param>
        /// <returns>Returns the ApiResponse of Models.TaskReservation response from the API call.</returns>
        public ApiResponse<Models.TaskReservation> UpdateTaskReservation(
                string workspaceSid,
                string taskSid,
                string sid,
                string ifMatch = null,
                Models.TaskReservationStatus? reservationStatus = null,
                string workerActivitySid = null,
                string instruction = null,
                string dequeuePostWorkActivitySid = null,
                string dequeueFrom = null,
                string dequeueRecord = null,
                int? dequeueTimeout = null,
                string dequeueTo = null,
                string dequeueStatusCallbackUrl = null,
                string callFrom = null,
                string callRecord = null,
                int? callTimeout = null,
                string callTo = null,
                string callUrl = null,
                string callStatusCallbackUrl = null,
                bool? callAccept = null,
                string redirectCallSid = null,
                bool? redirectAccept = null,
                string redirectUrl = null,
                string to = null,
                string from = null,
                string statusCallback = null,
                Models.ConfigurationWebhookMethod? statusCallbackMethod = null,
                List<Models.TaskReservationCallStatus> statusCallbackEvent = null,
                int? timeout = null,
                bool? record = null,
                bool? muted = null,
                string beep = null,
                bool? startConferenceOnEnter = null,
                bool? endConferenceOnExit = null,
                string waitUrl = null,
                Models.ConfigurationWebhookMethod? waitMethod = null,
                bool? earlyMedia = null,
                int? maxParticipants = null,
                string conferenceStatusCallback = null,
                Models.ConfigurationWebhookMethod? conferenceStatusCallbackMethod = null,
                List<Models.TaskReservationConferenceEvent> conferenceStatusCallbackEvent = null,
                string conferenceRecord = null,
                string conferenceTrim = null,
                string recordingChannels = null,
                string recordingStatusCallback = null,
                Models.ConfigurationWebhookMethod? recordingStatusCallbackMethod = null,
                string conferenceRecordingStatusCallback = null,
                Models.ConfigurationWebhookMethod? conferenceRecordingStatusCallbackMethod = null,
                string region = null,
                string sipAuthUsername = null,
                string sipAuthPassword = null,
                List<string> dequeueStatusCallbackEvent = null,
                string postWorkActivitySid = null,
                Models.TaskReservationSupervisorMode? supervisorMode = null,
                string supervisor = null,
                bool? endConferenceOnCustomerExit = null,
                bool? beepOnCustomerEntrance = null,
                string jitterBufferSize = null)
            => CoreHelper.RunTask(UpdateTaskReservationAsync(workspaceSid, taskSid, sid, ifMatch, reservationStatus, workerActivitySid, instruction, dequeuePostWorkActivitySid, dequeueFrom, dequeueRecord, dequeueTimeout, dequeueTo, dequeueStatusCallbackUrl, callFrom, callRecord, callTimeout, callTo, callUrl, callStatusCallbackUrl, callAccept, redirectCallSid, redirectAccept, redirectUrl, to, from, statusCallback, statusCallbackMethod, statusCallbackEvent, timeout, record, muted, beep, startConferenceOnEnter, endConferenceOnExit, waitUrl, waitMethod, earlyMedia, maxParticipants, conferenceStatusCallback, conferenceStatusCallbackMethod, conferenceStatusCallbackEvent, conferenceRecord, conferenceTrim, recordingChannels, recordingStatusCallback, recordingStatusCallbackMethod, conferenceRecordingStatusCallback, conferenceRecordingStatusCallbackMethod, region, sipAuthUsername, sipAuthPassword, dequeueStatusCallbackEvent, postWorkActivitySid, supervisorMode, supervisor, endConferenceOnCustomerExit, beepOnCustomerEntrance, jitterBufferSize));

        /// <summary>
        /// Tasks reserved for workers.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskReservation resources to update..</param>
        /// <param name="taskSid">Required parameter: The SID of the reserved Task resource with the TaskReservation resources to update..</param>
        /// <param name="sid">Required parameter: The SID of the TaskReservation resource to update..</param>
        /// <param name="ifMatch">Optional parameter: The If-Match HTTP request header.</param>
        /// <param name="reservationStatus">Optional parameter: The current status of the reservation. Can be: `pending`, `accepted`, `rejected`, or `timeout`..</param>
        /// <param name="workerActivitySid">Optional parameter: The new worker activity SID if rejecting a reservation..</param>
        /// <param name="instruction">Optional parameter: The assignment instruction for reservation..</param>
        /// <param name="dequeuePostWorkActivitySid">Optional parameter: The SID of the Activity resource to start after executing a Dequeue instruction..</param>
        /// <param name="dequeueFrom">Optional parameter: The Caller ID of the call to the worker when executing a Dequeue instruction..</param>
        /// <param name="dequeueRecord">Optional parameter: Whether to record both legs of a call when executing a Dequeue instruction or which leg to record..</param>
        /// <param name="dequeueTimeout">Optional parameter: Timeout for call when executing a Dequeue instruction..</param>
        /// <param name="dequeueTo">Optional parameter: The Contact URI of the worker when executing a Dequeue instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination..</param>
        /// <param name="dequeueStatusCallbackUrl">Optional parameter: The Callback URL for completed call event when executing a Dequeue instruction..</param>
        /// <param name="callFrom">Optional parameter: The Caller ID of the outbound call when executing a Call instruction..</param>
        /// <param name="callRecord">Optional parameter: Whether to record both legs of a call when executing a Call instruction or which leg to record..</param>
        /// <param name="callTimeout">Optional parameter: Timeout for call when executing a Call instruction..</param>
        /// <param name="callTo">Optional parameter: The Contact URI of the worker when executing a Call instruction.  Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination..</param>
        /// <param name="callUrl">Optional parameter: TwiML URI executed on answering the worker's leg as a result of the Call instruction..</param>
        /// <param name="callStatusCallbackUrl">Optional parameter: The URL to call  for the completed call event when executing a Call instruction..</param>
        /// <param name="callAccept">Optional parameter: Whether to accept a reservation when executing a Call instruction..</param>
        /// <param name="redirectCallSid">Optional parameter: The Call SID of the call parked in the queue when executing a Redirect instruction..</param>
        /// <param name="redirectAccept">Optional parameter: Whether the reservation should be accepted when executing a Redirect instruction..</param>
        /// <param name="redirectUrl">Optional parameter: TwiML URI to redirect the call to when executing the Redirect instruction..</param>
        /// <param name="to">Optional parameter: The Contact URI of the worker when executing a Conference instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination..</param>
        /// <param name="from">Optional parameter: The Caller ID of the call to the worker when executing a Conference instruction..</param>
        /// <param name="statusCallback">Optional parameter: The URL we should call using the `status_callback_method` to send status information to your application..</param>
        /// <param name="statusCallbackMethod">Optional parameter: The HTTP method we should use to call `status_callback`. Can be: `POST` or `GET` and the default is `POST`..</param>
        /// <param name="statusCallbackEvent">Optional parameter: The call progress events that we will send to `status_callback`. Can be: `initiated`, `ringing`, `answered`, or `completed`..</param>
        /// <param name="timeout">Optional parameter: Timeout for call when executing a Conference instruction..</param>
        /// <param name="record">Optional parameter: Whether to record the participant and their conferences, including the time between conferences. The default is `false`..</param>
        /// <param name="muted">Optional parameter: Whether the agent is muted in the conference. The default is `false`..</param>
        /// <param name="beep">Optional parameter: Whether to play a notification beep when the participant joins or when to play a beep. Can be: `true`, `false`, `onEnter`, or `onExit`. The default value is `true`..</param>
        /// <param name="startConferenceOnEnter">Optional parameter: Whether to start the conference when the participant joins, if it has not already started. The default is `true`. If `false` and the conference has not started, the participant is muted and hears background music until another participant starts the conference..</param>
        /// <param name="endConferenceOnExit">Optional parameter: Whether to end the conference when the agent leaves..</param>
        /// <param name="waitUrl">Optional parameter: The URL we should call using the `wait_method` for the music to play while participants are waiting for the conference to start. The default value is the URL of our standard hold music. [Learn more about hold music](https://www.twilio.com/labs/twimlets/holdmusic)..</param>
        /// <param name="waitMethod">Optional parameter: The HTTP method we should use to call `wait_url`. Can be `GET` or `POST` and the default is `POST`. When using a static audio file, this should be `GET` so that we can cache the file..</param>
        /// <param name="earlyMedia">Optional parameter: Whether to allow an agent to hear the state of the outbound call, including ringing or disconnect messages. The default is `true`..</param>
        /// <param name="maxParticipants">Optional parameter: The maximum number of participants in the conference. Can be a positive integer from `2` to `250`. The default value is `250`..</param>
        /// <param name="conferenceStatusCallback">Optional parameter: The URL we should call using the `conference_status_callback_method` when the conference events in `conference_status_callback_event` occur. Only the value set by the first participant to join the conference is used. Subsequent `conference_status_callback` values are ignored..</param>
        /// <param name="conferenceStatusCallbackMethod">Optional parameter: The HTTP method we should use to call `conference_status_callback`. Can be: `GET` or `POST` and defaults to `POST`..</param>
        /// <param name="conferenceStatusCallbackEvent">Optional parameter: The conference status events that we will send to `conference_status_callback`. Can be: `start`, `end`, `join`, `leave`, `mute`, `hold`, `speaker`..</param>
        /// <param name="conferenceRecord">Optional parameter: Whether to record the conference the participant is joining or when to record the conference. Can be: `true`, `false`, `record-from-start`, and `do-not-record`. The default value is `false`..</param>
        /// <param name="conferenceTrim">Optional parameter: How to trim the leading and trailing silence from your recorded conference audio files. Can be: `trim-silence` or `do-not-trim` and defaults to `trim-silence`..</param>
        /// <param name="recordingChannels">Optional parameter: The recording channels for the final recording. Can be: `mono` or `dual` and the default is `mono`..</param>
        /// <param name="recordingStatusCallback">Optional parameter: The URL that we should call using the `recording_status_callback_method` when the recording status changes..</param>
        /// <param name="recordingStatusCallbackMethod">Optional parameter: The HTTP method we should use when we call `recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`..</param>
        /// <param name="conferenceRecordingStatusCallback">Optional parameter: The URL we should call using the `conference_recording_status_callback_method` when the conference recording is available..</param>
        /// <param name="conferenceRecordingStatusCallbackMethod">Optional parameter: The HTTP method we should use to call `conference_recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`..</param>
        /// <param name="region">Optional parameter: The [region](https://support.twilio.com/hc/en-us/articles/223132167-How-global-low-latency-routing-and-region-selection-work-for-conferences-and-Client-calls) where we should mix the recorded audio. Can be:`us1`, `us2`, `ie1`, `de1`, `sg1`, `br1`, `au1`, or `jp1`..</param>
        /// <param name="sipAuthUsername">Optional parameter: The SIP username used for authentication..</param>
        /// <param name="sipAuthPassword">Optional parameter: The SIP password for authentication..</param>
        /// <param name="dequeueStatusCallbackEvent">Optional parameter: The Call progress events sent via webhooks as a result of a Dequeue instruction..</param>
        /// <param name="postWorkActivitySid">Optional parameter: The new worker activity SID after executing a Conference instruction..</param>
        /// <param name="supervisorMode">Optional parameter: .</param>
        /// <param name="supervisor">Optional parameter: The Supervisor SID/URI when executing the Supervise instruction..</param>
        /// <param name="endConferenceOnCustomerExit">Optional parameter: Whether to end the conference when the customer leaves..</param>
        /// <param name="beepOnCustomerEntrance">Optional parameter: Whether to play a notification beep when the customer joins..</param>
        /// <param name="jitterBufferSize">Optional parameter: The jitter buffer size for conference. Can be: `small`, `medium`, `large`, `off`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskReservation response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskReservation>> UpdateTaskReservationAsync(
                string workspaceSid,
                string taskSid,
                string sid,
                string ifMatch = null,
                Models.TaskReservationStatus? reservationStatus = null,
                string workerActivitySid = null,
                string instruction = null,
                string dequeuePostWorkActivitySid = null,
                string dequeueFrom = null,
                string dequeueRecord = null,
                int? dequeueTimeout = null,
                string dequeueTo = null,
                string dequeueStatusCallbackUrl = null,
                string callFrom = null,
                string callRecord = null,
                int? callTimeout = null,
                string callTo = null,
                string callUrl = null,
                string callStatusCallbackUrl = null,
                bool? callAccept = null,
                string redirectCallSid = null,
                bool? redirectAccept = null,
                string redirectUrl = null,
                string to = null,
                string from = null,
                string statusCallback = null,
                Models.ConfigurationWebhookMethod? statusCallbackMethod = null,
                List<Models.TaskReservationCallStatus> statusCallbackEvent = null,
                int? timeout = null,
                bool? record = null,
                bool? muted = null,
                string beep = null,
                bool? startConferenceOnEnter = null,
                bool? endConferenceOnExit = null,
                string waitUrl = null,
                Models.ConfigurationWebhookMethod? waitMethod = null,
                bool? earlyMedia = null,
                int? maxParticipants = null,
                string conferenceStatusCallback = null,
                Models.ConfigurationWebhookMethod? conferenceStatusCallbackMethod = null,
                List<Models.TaskReservationConferenceEvent> conferenceStatusCallbackEvent = null,
                string conferenceRecord = null,
                string conferenceTrim = null,
                string recordingChannels = null,
                string recordingStatusCallback = null,
                Models.ConfigurationWebhookMethod? recordingStatusCallbackMethod = null,
                string conferenceRecordingStatusCallback = null,
                Models.ConfigurationWebhookMethod? conferenceRecordingStatusCallbackMethod = null,
                string region = null,
                string sipAuthUsername = null,
                string sipAuthPassword = null,
                List<string> dequeueStatusCallbackEvent = null,
                string postWorkActivitySid = null,
                Models.TaskReservationSupervisorMode? supervisorMode = null,
                string supervisor = null,
                bool? endConferenceOnCustomerExit = null,
                bool? beepOnCustomerEntrance = null,
                string jitterBufferSize = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskReservation>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("TaskSid", taskSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Header(header => header.Setup("If-Match", ifMatch))
                      .Form(form => form.Setup("ReservationStatus", (reservationStatus.HasValue) ? CoreHelper.JsonSerialize(reservationStatus.Value).Trim('\"') : null))
                      .Form(form => form.Setup("WorkerActivitySid", workerActivitySid))
                      .Form(form => form.Setup("Instruction", instruction))
                      .Form(form => form.Setup("DequeuePostWorkActivitySid", dequeuePostWorkActivitySid))
                      .Form(form => form.Setup("DequeueFrom", dequeueFrom))
                      .Form(form => form.Setup("DequeueRecord", dequeueRecord))
                      .Form(form => form.Setup("DequeueTimeout", dequeueTimeout))
                      .Form(form => form.Setup("DequeueTo", dequeueTo))
                      .Form(form => form.Setup("DequeueStatusCallbackUrl", dequeueStatusCallbackUrl))
                      .Form(form => form.Setup("CallFrom", callFrom))
                      .Form(form => form.Setup("CallRecord", callRecord))
                      .Form(form => form.Setup("CallTimeout", callTimeout))
                      .Form(form => form.Setup("CallTo", callTo))
                      .Form(form => form.Setup("CallUrl", callUrl))
                      .Form(form => form.Setup("CallStatusCallbackUrl", callStatusCallbackUrl))
                      .Form(form => form.Setup("CallAccept", callAccept))
                      .Form(form => form.Setup("RedirectCallSid", redirectCallSid))
                      .Form(form => form.Setup("RedirectAccept", redirectAccept))
                      .Form(form => form.Setup("RedirectUrl", redirectUrl))
                      .Form(form => form.Setup("To", to))
                      .Form(form => form.Setup("From", from))
                      .Form(form => form.Setup("StatusCallback", statusCallback))
                      .Form(form => form.Setup("StatusCallbackMethod", (statusCallbackMethod.HasValue) ? CoreHelper.JsonSerialize(statusCallbackMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("StatusCallbackEvent", statusCallbackEvent?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Form(form => form.Setup("Timeout", timeout))
                      .Form(form => form.Setup("Record", record))
                      .Form(form => form.Setup("Muted", muted))
                      .Form(form => form.Setup("Beep", beep))
                      .Form(form => form.Setup("StartConferenceOnEnter", startConferenceOnEnter))
                      .Form(form => form.Setup("EndConferenceOnExit", endConferenceOnExit))
                      .Form(form => form.Setup("WaitUrl", waitUrl))
                      .Form(form => form.Setup("WaitMethod", (waitMethod.HasValue) ? CoreHelper.JsonSerialize(waitMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("EarlyMedia", earlyMedia))
                      .Form(form => form.Setup("MaxParticipants", maxParticipants))
                      .Form(form => form.Setup("ConferenceStatusCallback", conferenceStatusCallback))
                      .Form(form => form.Setup("ConferenceStatusCallbackMethod", (conferenceStatusCallbackMethod.HasValue) ? CoreHelper.JsonSerialize(conferenceStatusCallbackMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("ConferenceStatusCallbackEvent", conferenceStatusCallbackEvent?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Form(form => form.Setup("ConferenceRecord", conferenceRecord))
                      .Form(form => form.Setup("ConferenceTrim", conferenceTrim))
                      .Form(form => form.Setup("RecordingChannels", recordingChannels))
                      .Form(form => form.Setup("RecordingStatusCallback", recordingStatusCallback))
                      .Form(form => form.Setup("RecordingStatusCallbackMethod", (recordingStatusCallbackMethod.HasValue) ? CoreHelper.JsonSerialize(recordingStatusCallbackMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("ConferenceRecordingStatusCallback", conferenceRecordingStatusCallback))
                      .Form(form => form.Setup("ConferenceRecordingStatusCallbackMethod", (conferenceRecordingStatusCallbackMethod.HasValue) ? CoreHelper.JsonSerialize(conferenceRecordingStatusCallbackMethod.Value).Trim('\"') : null))
                      .Form(form => form.Setup("Region", region))
                      .Form(form => form.Setup("SipAuthUsername", sipAuthUsername))
                      .Form(form => form.Setup("SipAuthPassword", sipAuthPassword))
                      .Form(form => form.Setup("DequeueStatusCallbackEvent", dequeueStatusCallbackEvent))
                      .Form(form => form.Setup("PostWorkActivitySid", postWorkActivitySid))
                      .Form(form => form.Setup("SupervisorMode", (supervisorMode.HasValue) ? CoreHelper.JsonSerialize(supervisorMode.Value).Trim('\"') : null))
                      .Form(form => form.Setup("Supervisor", supervisor))
                      .Form(form => form.Setup("EndConferenceOnCustomerExit", endConferenceOnCustomerExit))
                      .Form(form => form.Setup("BeepOnCustomerEntrance", beepOnCustomerEntrance))
                      .Form(form => form.Setup("JitterBufferSize", jitterBufferSize))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}