// <copyright file="TaskrouterV1TaskChannelApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskChannelApi.
    /// </summary>
    public class TaskrouterV1TaskChannelApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskChannelApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskChannelApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Task Channel resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.TaskChannel response from the API call.</returns>
        public ApiResponse<Models.TaskChannel> FetchTaskChannel(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchTaskChannelAsync(workspaceSid, sid));

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Task Channel resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskChannel response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskChannel>> FetchTaskChannelAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskChannel>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to update..</param>
        /// <param name="sid">Required parameter: The SID of the Task Channel resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long..</param>
        /// <param name="channelOptimizedRouting">Optional parameter: Whether the TaskChannel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized..</param>
        /// <returns>Returns the ApiResponse of Models.TaskChannel response from the API call.</returns>
        public ApiResponse<Models.TaskChannel> UpdateTaskChannel(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                bool? channelOptimizedRouting = null)
            => CoreHelper.RunTask(UpdateTaskChannelAsync(workspaceSid, sid, friendlyName, channelOptimizedRouting));

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to update..</param>
        /// <param name="sid">Required parameter: The SID of the Task Channel resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long..</param>
        /// <param name="channelOptimizedRouting">Optional parameter: Whether the TaskChannel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskChannel response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskChannel>> UpdateTaskChannelAsync(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                bool? channelOptimizedRouting = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskChannel>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("ChannelOptimizedRouting", channelOptimizedRouting))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Task Channel resource to delete..</param>
        public void DeleteTaskChannel(
                string workspaceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteTaskChannelAsync(workspaceSid, sid));

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Task Channel resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteTaskChannelAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListTaskChannelResponse response from the API call.</returns>
        public ApiResponse<Models.ListTaskChannelResponse> ListTaskChannel(
                string workspaceSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListTaskChannelAsync(workspaceSid, pageSize, page, pageToken));

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task Channel to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListTaskChannelResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListTaskChannelResponse>> ListTaskChannelAsync(
                string workspaceSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListTaskChannelResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskChannels")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Task Channel belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long..</param>
        /// <param name="uniqueName">Required parameter: An application-defined string that uniquely identifies the Task Channel, such as `voice` or `sms`..</param>
        /// <param name="channelOptimizedRouting">Optional parameter: Whether the Task Channel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized..</param>
        /// <returns>Returns the ApiResponse of Models.TaskChannel response from the API call.</returns>
        public ApiResponse<Models.TaskChannel> CreateTaskChannel(
                string workspaceSid,
                string friendlyName,
                string uniqueName,
                bool? channelOptimizedRouting = null)
            => CoreHelper.RunTask(CreateTaskChannelAsync(workspaceSid, friendlyName, uniqueName, channelOptimizedRouting));

        /// <summary>
        /// Types of tasks.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Task Channel belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long..</param>
        /// <param name="uniqueName">Required parameter: An application-defined string that uniquely identifies the Task Channel, such as `voice` or `sms`..</param>
        /// <param name="channelOptimizedRouting">Optional parameter: Whether the Task Channel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskChannel response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskChannel>> CreateTaskChannelAsync(
                string workspaceSid,
                string friendlyName,
                string uniqueName,
                bool? channelOptimizedRouting = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskChannel>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/TaskChannels")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("UniqueName", uniqueName).Required())
                      .Form(form => form.Setup("ChannelOptimizedRouting", channelOptimizedRouting))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}