// <copyright file="TaskrouterV1WorkersStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkersStatisticsApi.
    /// </summary>
    public class TaskrouterV1WorkersStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkersStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkersStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkerStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to fetch..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="endDate">Optional parameter: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue for which to fetch Worker statistics..</param>
        /// <param name="taskQueueName">Optional parameter: The `friendly_name` of the TaskQueue for which to fetch Worker statistics..</param>
        /// <param name="friendlyName">Optional parameter: Only include Workers with `friendly_name` values that match this parameter..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <returns>Returns the ApiResponse of Models.WorkerStatistics response from the API call.</returns>
        public ApiResponse<Models.WorkerStatistics> FetchWorkerStatistics(
                string workspaceSid,
                int? minutes = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                string taskQueueSid = null,
                string taskQueueName = null,
                string friendlyName = null,
                string taskChannel = null)
            => CoreHelper.RunTask(FetchWorkerStatisticsAsync(workspaceSid, minutes, startDate, endDate, taskQueueSid, taskQueueName, friendlyName, taskChannel));

        /// <summary>
        /// FetchWorkerStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to fetch..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="endDate">Optional parameter: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue for which to fetch Worker statistics..</param>
        /// <param name="taskQueueName">Optional parameter: The `friendly_name` of the TaskQueue for which to fetch Worker statistics..</param>
        /// <param name="friendlyName">Optional parameter: Only include Workers with `friendly_name` values that match this parameter..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkerStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkerStatistics>> FetchWorkerStatisticsAsync(
                string workspaceSid,
                int? minutes = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                string taskQueueSid = null,
                string taskQueueName = null,
                string friendlyName = null,
                string taskChannel = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkerStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workers/Statistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("Minutes", minutes))
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("TaskQueueSid", taskQueueSid))
                      .Query(query => query.Setup("TaskQueueName", taskQueueName))
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("TaskChannel", taskChannel))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}