// <copyright file="TaskrouterV1TaskQueuesStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskQueuesStatisticsApi.
    /// </summary>
    public class TaskrouterV1TaskQueuesStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskQueuesStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskQueuesStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// ListTaskQueuesStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueues to read..</param>
        /// <param name="endDate">Optional parameter: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the TaskQueue statistics to read..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default is 15 minutes..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="splitByWaitTime">Optional parameter: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListTaskQueuesStatisticsResponse response from the API call.</returns>
        public ApiResponse<Models.ListTaskQueuesStatisticsResponse> ListTaskQueuesStatistics(
                string workspaceSid,
                DateTime? endDate = null,
                string friendlyName = null,
                int? minutes = null,
                DateTime? startDate = null,
                string taskChannel = null,
                string splitByWaitTime = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListTaskQueuesStatisticsAsync(workspaceSid, endDate, friendlyName, minutes, startDate, taskChannel, splitByWaitTime, pageSize, page, pageToken));

        /// <summary>
        /// ListTaskQueuesStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueues to read..</param>
        /// <param name="endDate">Optional parameter: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the TaskQueue statistics to read..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default is 15 minutes..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="splitByWaitTime">Optional parameter: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListTaskQueuesStatisticsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListTaskQueuesStatisticsResponse>> ListTaskQueuesStatisticsAsync(
                string workspaceSid,
                DateTime? endDate = null,
                string friendlyName = null,
                int? minutes = null,
                DateTime? startDate = null,
                string taskChannel = null,
                string splitByWaitTime = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListTaskQueuesStatisticsResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/Statistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("Minutes", minutes))
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("TaskChannel", taskChannel))
                      .Query(query => query.Setup("SplitByWaitTime", splitByWaitTime))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}