// <copyright file="TaskrouterV1EventApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1EventApi.
    /// </summary>
    public class TaskrouterV1EventApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1EventApi"/> class.
        /// </summary>
        internal TaskrouterV1EventApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchEvent EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Event to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Event resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Event response from the API call.</returns>
        public ApiResponse<Models.Event> FetchEvent(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchEventAsync(workspaceSid, sid));

        /// <summary>
        /// FetchEvent EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Event to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Event resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Event response from the API call.</returns>
        public async Task<ApiResponse<Models.Event>> FetchEventAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Event>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Events/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListEvent EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Events to read. Returns only the Events that pertain to the specified Workspace..</param>
        /// <param name="endDate">Optional parameter: Only include Events that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="eventType">Optional parameter: The type of Events to read. Returns only Events of the type specified..</param>
        /// <param name="minutes">Optional parameter: The period of events to read in minutes. Returns only Events that occurred since this many minutes in the past. The default is `15` minutes. Task Attributes for Events occuring more 43,200 minutes ago will be redacted..</param>
        /// <param name="reservationSid">Optional parameter: The SID of the Reservation with the Events to read. Returns only Events that pertain to the specified Reservation..</param>
        /// <param name="startDate">Optional parameter: Only include Events from on or after this date and time, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task Attributes for Events older than 30 days will be redacted..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue with the Events to read. Returns only the Events that pertain to the specified TaskQueue..</param>
        /// <param name="taskSid">Optional parameter: The SID of the Task with the Events to read. Returns only the Events that pertain to the specified Task..</param>
        /// <param name="workerSid">Optional parameter: The SID of the Worker with the Events to read. Returns only the Events that pertain to the specified Worker..</param>
        /// <param name="workflowSid">Optional parameter: The SID of the Workflow with the Events to read. Returns only the Events that pertain to the specified Workflow..</param>
        /// <param name="taskChannel">Optional parameter: The TaskChannel with the Events to read. Returns only the Events that pertain to the specified TaskChannel..</param>
        /// <param name="sid">Optional parameter: The SID of the Event resource to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListEventResponse response from the API call.</returns>
        public ApiResponse<Models.ListEventResponse> ListEvent(
                string workspaceSid,
                DateTime? endDate = null,
                string eventType = null,
                int? minutes = null,
                string reservationSid = null,
                DateTime? startDate = null,
                string taskQueueSid = null,
                string taskSid = null,
                string workerSid = null,
                string workflowSid = null,
                string taskChannel = null,
                string sid = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListEventAsync(workspaceSid, endDate, eventType, minutes, reservationSid, startDate, taskQueueSid, taskSid, workerSid, workflowSid, taskChannel, sid, pageSize, page, pageToken));

        /// <summary>
        /// ListEvent EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Events to read. Returns only the Events that pertain to the specified Workspace..</param>
        /// <param name="endDate">Optional parameter: Only include Events that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="eventType">Optional parameter: The type of Events to read. Returns only Events of the type specified..</param>
        /// <param name="minutes">Optional parameter: The period of events to read in minutes. Returns only Events that occurred since this many minutes in the past. The default is `15` minutes. Task Attributes for Events occuring more 43,200 minutes ago will be redacted..</param>
        /// <param name="reservationSid">Optional parameter: The SID of the Reservation with the Events to read. Returns only Events that pertain to the specified Reservation..</param>
        /// <param name="startDate">Optional parameter: Only include Events from on or after this date and time, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task Attributes for Events older than 30 days will be redacted..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue with the Events to read. Returns only the Events that pertain to the specified TaskQueue..</param>
        /// <param name="taskSid">Optional parameter: The SID of the Task with the Events to read. Returns only the Events that pertain to the specified Task..</param>
        /// <param name="workerSid">Optional parameter: The SID of the Worker with the Events to read. Returns only the Events that pertain to the specified Worker..</param>
        /// <param name="workflowSid">Optional parameter: The SID of the Workflow with the Events to read. Returns only the Events that pertain to the specified Workflow..</param>
        /// <param name="taskChannel">Optional parameter: The TaskChannel with the Events to read. Returns only the Events that pertain to the specified TaskChannel..</param>
        /// <param name="sid">Optional parameter: The SID of the Event resource to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListEventResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListEventResponse>> ListEventAsync(
                string workspaceSid,
                DateTime? endDate = null,
                string eventType = null,
                int? minutes = null,
                string reservationSid = null,
                DateTime? startDate = null,
                string taskQueueSid = null,
                string taskSid = null,
                string workerSid = null,
                string workflowSid = null,
                string taskChannel = null,
                string sid = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListEventResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Events")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("EventType", eventType))
                      .Query(query => query.Setup("Minutes", minutes))
                      .Query(query => query.Setup("ReservationSid", reservationSid))
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("TaskQueueSid", taskQueueSid))
                      .Query(query => query.Setup("TaskSid", taskSid))
                      .Query(query => query.Setup("WorkerSid", workerSid))
                      .Query(query => query.Setup("WorkflowSid", workflowSid))
                      .Query(query => query.Setup("TaskChannel", taskChannel))
                      .Query(query => query.Setup("Sid", sid))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}