// <copyright file="TaskrouterV1WorkerChannelApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkerChannelApi.
    /// </summary>
    public class TaskrouterV1WorkerChannelApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkerChannelApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkerChannelApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// ListWorkerChannel EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannels to read..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannels to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListWorkerChannelResponse response from the API call.</returns>
        public ApiResponse<Models.ListWorkerChannelResponse> ListWorkerChannel(
                string workspaceSid,
                string workerSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListWorkerChannelAsync(workspaceSid, workerSid, pageSize, page, pageToken));

        /// <summary>
        /// ListWorkerChannel EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannels to read..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannels to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListWorkerChannelResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListWorkerChannelResponse>> ListWorkerChannelAsync(
                string workspaceSid,
                string workerSid,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListWorkerChannelResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("WorkerSid", workerSid).Required())
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// FetchWorkerChannel EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannel to fetch..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannel to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the WorkerChannel to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.WorkerChannel response from the API call.</returns>
        public ApiResponse<Models.WorkerChannel> FetchWorkerChannel(
                string workspaceSid,
                string workerSid,
                string sid)
            => CoreHelper.RunTask(FetchWorkerChannelAsync(workspaceSid, workerSid, sid));

        /// <summary>
        /// FetchWorkerChannel EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannel to fetch..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannel to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the WorkerChannel to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkerChannel response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkerChannel>> FetchWorkerChannelAsync(
                string workspaceSid,
                string workerSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkerChannel>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("WorkerSid", workerSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateWorkerChannel EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannel to update..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannel to update..</param>
        /// <param name="sid">Required parameter: The SID of the WorkerChannel to update..</param>
        /// <param name="capacity">Optional parameter: The total number of Tasks that the Worker should handle for the TaskChannel type. TaskRouter creates reservations for Tasks of this TaskChannel type up to the specified capacity. If the capacity is 0, no new reservations will be created..</param>
        /// <param name="available">Optional parameter: Whether the WorkerChannel is available. Set to `false` to prevent the Worker from receiving any new Tasks of this TaskChannel type..</param>
        /// <returns>Returns the ApiResponse of Models.WorkerChannel response from the API call.</returns>
        public ApiResponse<Models.WorkerChannel> UpdateWorkerChannel(
                string workspaceSid,
                string workerSid,
                string sid,
                int? capacity = null,
                bool? available = null)
            => CoreHelper.RunTask(UpdateWorkerChannelAsync(workspaceSid, workerSid, sid, capacity, available));

        /// <summary>
        /// UpdateWorkerChannel EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannel to update..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannel to update..</param>
        /// <param name="sid">Required parameter: The SID of the WorkerChannel to update..</param>
        /// <param name="capacity">Optional parameter: The total number of Tasks that the Worker should handle for the TaskChannel type. TaskRouter creates reservations for Tasks of this TaskChannel type up to the specified capacity. If the capacity is 0, no new reservations will be created..</param>
        /// <param name="available">Optional parameter: Whether the WorkerChannel is available. Set to `false` to prevent the Worker from receiving any new Tasks of this TaskChannel type..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkerChannel response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkerChannel>> UpdateWorkerChannelAsync(
                string workspaceSid,
                string workerSid,
                string sid,
                int? capacity = null,
                bool? available = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkerChannel>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("WorkerSid", workerSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Capacity", capacity))
                      .Form(form => form.Setup("Available", available))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}