// <copyright file="TaskrouterV1TaskQueueRealTimeStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskQueueRealTimeStatisticsApi.
    /// </summary>
    public class TaskrouterV1TaskQueueRealTimeStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskQueueRealTimeStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskQueueRealTimeStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchTaskQueueRealTimeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to fetch..</param>
        /// <param name="taskQueueSid">Required parameter: The SID of the TaskQueue for which to fetch statistics..</param>
        /// <param name="taskChannel">Optional parameter: The TaskChannel for which to fetch statistics. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <returns>Returns the ApiResponse of Models.TaskQueueRealTimeStatistics response from the API call.</returns>
        public ApiResponse<Models.TaskQueueRealTimeStatistics> FetchTaskQueueRealTimeStatistics(
                string workspaceSid,
                string taskQueueSid,
                string taskChannel = null)
            => CoreHelper.RunTask(FetchTaskQueueRealTimeStatisticsAsync(workspaceSid, taskQueueSid, taskChannel));

        /// <summary>
        /// FetchTaskQueueRealTimeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the TaskQueue to fetch..</param>
        /// <param name="taskQueueSid">Required parameter: The SID of the TaskQueue for which to fetch statistics..</param>
        /// <param name="taskChannel">Optional parameter: The TaskChannel for which to fetch statistics. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskQueueRealTimeStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskQueueRealTimeStatistics>> FetchTaskQueueRealTimeStatisticsAsync(
                string workspaceSid,
                string taskQueueSid,
                string taskChannel = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskQueueRealTimeStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/RealTimeStatistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("TaskQueueSid", taskQueueSid).Required())
                      .Query(query => query.Setup("TaskChannel", taskChannel))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}