// <copyright file="TaskrouterV1TaskApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1TaskApi.
    /// </summary>
    public class TaskrouterV1TaskApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1TaskApi"/> class.
        /// </summary>
        internal TaskrouterV1TaskApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Task resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.TaskRouterTask response from the API call.</returns>
        public ApiResponse<Models.TaskRouterTask> FetchTask(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchTaskAsync(workspaceSid, sid));

        /// <summary>
        /// FetchTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Task resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskRouterTask response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskRouterTask>> FetchTaskAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskRouterTask>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task to update..</param>
        /// <param name="sid">Required parameter: The SID of the Task resource to update..</param>
        /// <param name="ifMatch">Optional parameter: If provided, applies this mutation if (and only if) the [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the Task matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)..</param>
        /// <param name="attributes">Optional parameter: The JSON string that describes the custom attributes of the task..</param>
        /// <param name="assignmentStatus">Optional parameter: The current status of the Task's assignment. Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`..</param>
        /// <param name="reason">Optional parameter: The reason that the Task was canceled or completed. This parameter is required only if the Task is canceled or completed. Setting this value queues the task for deletion and logs the reason..</param>
        /// <param name="priority">Optional parameter: The Task's new priority value. When supplied, the Task takes on the specified priority unless it matches a Workflow Target with a Priority set. Value can be 0 to 2^31^ (2,147,483,647)..</param>
        /// <param name="taskChannel">Optional parameter: When MultiTasking is enabled, specify the TaskChannel with the task to update. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="virtualStartTime">Optional parameter: The task's new virtual start time value. When supplied, the Task takes on the specified virtual start time. Value can't be in the future or before the year of 1900..</param>
        /// <returns>Returns the ApiResponse of Models.TaskRouterTask response from the API call.</returns>
        public ApiResponse<Models.TaskRouterTask> UpdateTask(
                string workspaceSid,
                string sid,
                string ifMatch = null,
                string attributes = null,
                Models.TaskStatus? assignmentStatus = null,
                string reason = null,
                int? priority = null,
                string taskChannel = null,
                DateTime? virtualStartTime = null)
            => CoreHelper.RunTask(UpdateTaskAsync(workspaceSid, sid, ifMatch, attributes, assignmentStatus, reason, priority, taskChannel, virtualStartTime));

        /// <summary>
        /// UpdateTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task to update..</param>
        /// <param name="sid">Required parameter: The SID of the Task resource to update..</param>
        /// <param name="ifMatch">Optional parameter: If provided, applies this mutation if (and only if) the [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the Task matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)..</param>
        /// <param name="attributes">Optional parameter: The JSON string that describes the custom attributes of the task..</param>
        /// <param name="assignmentStatus">Optional parameter: The current status of the Task's assignment. Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`..</param>
        /// <param name="reason">Optional parameter: The reason that the Task was canceled or completed. This parameter is required only if the Task is canceled or completed. Setting this value queues the task for deletion and logs the reason..</param>
        /// <param name="priority">Optional parameter: The Task's new priority value. When supplied, the Task takes on the specified priority unless it matches a Workflow Target with a Priority set. Value can be 0 to 2^31^ (2,147,483,647)..</param>
        /// <param name="taskChannel">Optional parameter: When MultiTasking is enabled, specify the TaskChannel with the task to update. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="virtualStartTime">Optional parameter: The task's new virtual start time value. When supplied, the Task takes on the specified virtual start time. Value can't be in the future or before the year of 1900..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskRouterTask response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskRouterTask>> UpdateTaskAsync(
                string workspaceSid,
                string sid,
                string ifMatch = null,
                string attributes = null,
                Models.TaskStatus? assignmentStatus = null,
                string reason = null,
                int? priority = null,
                string taskChannel = null,
                DateTime? virtualStartTime = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskRouterTask>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Header(header => header.Setup("If-Match", ifMatch))
                      .Form(form => form.Setup("Attributes", attributes))
                      .Form(form => form.Setup("AssignmentStatus", (assignmentStatus.HasValue) ? CoreHelper.JsonSerialize(assignmentStatus.Value).Trim('\"') : null))
                      .Form(form => form.Setup("Reason", reason))
                      .Form(form => form.Setup("Priority", priority))
                      .Form(form => form.Setup("TaskChannel", taskChannel))
                      .Form(form => form.Setup("VirtualStartTime", virtualStartTime.HasValue ? virtualStartTime.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Task resource to delete..</param>
        /// <param name="ifMatch">Optional parameter: If provided, deletes this Task if (and only if) the [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the Task matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)..</param>
        public void DeleteTask(
                string workspaceSid,
                string sid,
                string ifMatch = null)
            => CoreHelper.RunVoidTask(DeleteTaskAsync(workspaceSid, sid, ifMatch));

        /// <summary>
        /// DeleteTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Task to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Task resource to delete..</param>
        /// <param name="ifMatch">Optional parameter: If provided, deletes this Task if (and only if) the [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the Task matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteTaskAsync(
                string workspaceSid,
                string sid,
                string ifMatch = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("If-Match", ifMatch))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Tasks to read..</param>
        /// <param name="priority">Optional parameter: The priority value of the Tasks to read. Returns the list of all Tasks in the Workspace with the specified priority..</param>
        /// <param name="assignmentStatus">Optional parameter: The `assignment_status` of the Tasks you want to read. Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`. Returns all Tasks in the Workspace with the specified `assignment_status`..</param>
        /// <param name="workflowSid">Optional parameter: The SID of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this SID..</param>
        /// <param name="workflowName">Optional parameter: The friendly name of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this friendly name..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this SID..</param>
        /// <param name="taskQueueName">Optional parameter: The `friendly_name` of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this friendly name..</param>
        /// <param name="evaluateTaskAttributes">Optional parameter: The attributes of the Tasks to read. Returns the Tasks that match the attributes specified in this parameter..</param>
        /// <param name="routingTarget">Optional parameter: A SID of a Worker, Queue, or Workflow to route a Task to.</param>
        /// <param name="ordering">Optional parameter: How to order the returned Task resources. By default, Tasks are sorted by ascending DateCreated. This value is specified as: `Attribute:Order`, where `Attribute` can be either `DateCreated`, `Priority`, or `VirtualStartTime` and `Order` can be either `asc` or `desc`. For example, `Priority:desc` returns Tasks ordered in descending order of their Priority. Pairings of sort orders can be specified in a comma-separated list such as `Priority:desc,DateCreated:asc`, which returns the Tasks in descending Priority order and ascending DateCreated Order. The only ordering pairing not allowed is DateCreated and VirtualStartTime..</param>
        /// <param name="hasAddons">Optional parameter: Whether to read Tasks with Add-ons. If `true`, returns only Tasks with Add-ons. If `false`, returns only Tasks without Add-ons..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListTaskResponse response from the API call.</returns>
        public ApiResponse<Models.ListTaskResponse> ListTask(
                string workspaceSid,
                int? priority = null,
                List<string> assignmentStatus = null,
                string workflowSid = null,
                string workflowName = null,
                string taskQueueSid = null,
                string taskQueueName = null,
                string evaluateTaskAttributes = null,
                string routingTarget = null,
                string ordering = null,
                bool? hasAddons = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListTaskAsync(workspaceSid, priority, assignmentStatus, workflowSid, workflowName, taskQueueSid, taskQueueName, evaluateTaskAttributes, routingTarget, ordering, hasAddons, pageSize, page, pageToken));

        /// <summary>
        /// ListTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Tasks to read..</param>
        /// <param name="priority">Optional parameter: The priority value of the Tasks to read. Returns the list of all Tasks in the Workspace with the specified priority..</param>
        /// <param name="assignmentStatus">Optional parameter: The `assignment_status` of the Tasks you want to read. Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`. Returns all Tasks in the Workspace with the specified `assignment_status`..</param>
        /// <param name="workflowSid">Optional parameter: The SID of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this SID..</param>
        /// <param name="workflowName">Optional parameter: The friendly name of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this friendly name..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this SID..</param>
        /// <param name="taskQueueName">Optional parameter: The `friendly_name` of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this friendly name..</param>
        /// <param name="evaluateTaskAttributes">Optional parameter: The attributes of the Tasks to read. Returns the Tasks that match the attributes specified in this parameter..</param>
        /// <param name="routingTarget">Optional parameter: A SID of a Worker, Queue, or Workflow to route a Task to.</param>
        /// <param name="ordering">Optional parameter: How to order the returned Task resources. By default, Tasks are sorted by ascending DateCreated. This value is specified as: `Attribute:Order`, where `Attribute` can be either `DateCreated`, `Priority`, or `VirtualStartTime` and `Order` can be either `asc` or `desc`. For example, `Priority:desc` returns Tasks ordered in descending order of their Priority. Pairings of sort orders can be specified in a comma-separated list such as `Priority:desc,DateCreated:asc`, which returns the Tasks in descending Priority order and ascending DateCreated Order. The only ordering pairing not allowed is DateCreated and VirtualStartTime..</param>
        /// <param name="hasAddons">Optional parameter: Whether to read Tasks with Add-ons. If `true`, returns only Tasks with Add-ons. If `false`, returns only Tasks without Add-ons..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListTaskResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListTaskResponse>> ListTaskAsync(
                string workspaceSid,
                int? priority = null,
                List<string> assignmentStatus = null,
                string workflowSid = null,
                string workflowName = null,
                string taskQueueSid = null,
                string taskQueueName = null,
                string evaluateTaskAttributes = null,
                string routingTarget = null,
                string ordering = null,
                bool? hasAddons = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListTaskResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Tasks")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("Priority", priority))
                      .Query(query => query.Setup("AssignmentStatus", assignmentStatus))
                      .Query(query => query.Setup("WorkflowSid", workflowSid))
                      .Query(query => query.Setup("WorkflowName", workflowName))
                      .Query(query => query.Setup("TaskQueueSid", taskQueueSid))
                      .Query(query => query.Setup("TaskQueueName", taskQueueName))
                      .Query(query => query.Setup("EvaluateTaskAttributes", evaluateTaskAttributes))
                      .Query(query => query.Setup("RoutingTarget", routingTarget))
                      .Query(query => query.Setup("Ordering", ordering))
                      .Query(query => query.Setup("HasAddons", hasAddons))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Task belongs to..</param>
        /// <param name="timeout">Optional parameter: The amount of time in seconds the new task can live before being assigned. Can be up to a maximum of 2 weeks (1,209,600 seconds). The default value is 24 hours (86,400 seconds). On timeout, the `task.canceled` event will fire with description `Task TTL Exceeded`..</param>
        /// <param name="priority">Optional parameter: The priority to assign the new task and override the default. When supplied, the new Task will have this priority unless it matches a Workflow Target with a Priority set. When not supplied, the new Task will have the priority of the matching Workflow Target. Value can be 0 to 2^31^ (2,147,483,647)..</param>
        /// <param name="taskChannel">Optional parameter: When MultiTasking is enabled, specify the TaskChannel by passing either its `unique_name` or `sid`. Default value is `default`..</param>
        /// <param name="workflowSid">Optional parameter: The SID of the Workflow that you would like to handle routing for the new Task. If there is only one Workflow defined for the Workspace that you are posting the new task to, this parameter is optional..</param>
        /// <param name="attributes">Optional parameter: A JSON string with the attributes of the new task. This value is passed to the Workflow's `assignment_callback_url` when the Task is assigned to a Worker. For example: `{ "task_type": "call", "twilio_call_sid": "CAxxx", "customer_ticket_number": "12345" }`..</param>
        /// <param name="virtualStartTime">Optional parameter: The virtual start time to assign the new task and override the default. When supplied, the new task will have this virtual start time. When not supplied, the new task will have the virtual start time equal to `date_created`. Value can't be in the future or before the year of 1900..</param>
        /// <param name="routingTarget">Optional parameter: A SID of a Worker, Queue, or Workflow to route a Task to.</param>
        /// <param name="ignoreCapacity">Optional parameter: A boolean that indicates if the Task should respect a Worker's capacity and availability during assignment. This field can only be used when the `RoutingTarget` field is set to a Worker SID. By setting `IgnoreCapacity` to a value of `true`, `1`, or `yes`, the Task will be routed to the Worker without respecting their capacity and availability. Any other value will enforce the Worker's capacity and availability. The default value of `IgnoreCapacity` is `true` when the `RoutingTarget` is set to a Worker SID..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue in which the Task belongs.</param>
        /// <returns>Returns the ApiResponse of Models.TaskRouterTask response from the API call.</returns>
        public ApiResponse<Models.TaskRouterTask> CreateTask(
                string workspaceSid,
                int? timeout = null,
                int? priority = null,
                string taskChannel = null,
                string workflowSid = null,
                string attributes = null,
                DateTime? virtualStartTime = null,
                string routingTarget = null,
                string ignoreCapacity = null,
                string taskQueueSid = null)
            => CoreHelper.RunTask(CreateTaskAsync(workspaceSid, timeout, priority, taskChannel, workflowSid, attributes, virtualStartTime, routingTarget, ignoreCapacity, taskQueueSid));

        /// <summary>
        /// CreateTask EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Task belongs to..</param>
        /// <param name="timeout">Optional parameter: The amount of time in seconds the new task can live before being assigned. Can be up to a maximum of 2 weeks (1,209,600 seconds). The default value is 24 hours (86,400 seconds). On timeout, the `task.canceled` event will fire with description `Task TTL Exceeded`..</param>
        /// <param name="priority">Optional parameter: The priority to assign the new task and override the default. When supplied, the new Task will have this priority unless it matches a Workflow Target with a Priority set. When not supplied, the new Task will have the priority of the matching Workflow Target. Value can be 0 to 2^31^ (2,147,483,647)..</param>
        /// <param name="taskChannel">Optional parameter: When MultiTasking is enabled, specify the TaskChannel by passing either its `unique_name` or `sid`. Default value is `default`..</param>
        /// <param name="workflowSid">Optional parameter: The SID of the Workflow that you would like to handle routing for the new Task. If there is only one Workflow defined for the Workspace that you are posting the new task to, this parameter is optional..</param>
        /// <param name="attributes">Optional parameter: A JSON string with the attributes of the new task. This value is passed to the Workflow's `assignment_callback_url` when the Task is assigned to a Worker. For example: `{ "task_type": "call", "twilio_call_sid": "CAxxx", "customer_ticket_number": "12345" }`..</param>
        /// <param name="virtualStartTime">Optional parameter: The virtual start time to assign the new task and override the default. When supplied, the new task will have this virtual start time. When not supplied, the new task will have the virtual start time equal to `date_created`. Value can't be in the future or before the year of 1900..</param>
        /// <param name="routingTarget">Optional parameter: A SID of a Worker, Queue, or Workflow to route a Task to.</param>
        /// <param name="ignoreCapacity">Optional parameter: A boolean that indicates if the Task should respect a Worker's capacity and availability during assignment. This field can only be used when the `RoutingTarget` field is set to a Worker SID. By setting `IgnoreCapacity` to a value of `true`, `1`, or `yes`, the Task will be routed to the Worker without respecting their capacity and availability. Any other value will enforce the Worker's capacity and availability. The default value of `IgnoreCapacity` is `true` when the `RoutingTarget` is set to a Worker SID..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue in which the Task belongs.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TaskRouterTask response from the API call.</returns>
        public async Task<ApiResponse<Models.TaskRouterTask>> CreateTaskAsync(
                string workspaceSid,
                int? timeout = null,
                int? priority = null,
                string taskChannel = null,
                string workflowSid = null,
                string attributes = null,
                DateTime? virtualStartTime = null,
                string routingTarget = null,
                string ignoreCapacity = null,
                string taskQueueSid = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaskRouterTask>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Tasks")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Timeout", timeout))
                      .Form(form => form.Setup("Priority", priority))
                      .Form(form => form.Setup("TaskChannel", taskChannel))
                      .Form(form => form.Setup("WorkflowSid", workflowSid))
                      .Form(form => form.Setup("Attributes", attributes))
                      .Form(form => form.Setup("VirtualStartTime", virtualStartTime.HasValue ? virtualStartTime.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Form(form => form.Setup("RoutingTarget", routingTarget))
                      .Form(form => form.Setup("IgnoreCapacity", ignoreCapacity))
                      .Form(form => form.Setup("TaskQueueSid", taskQueueSid))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}