// <copyright file="TaskrouterV1WorkspaceCumulativeStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkspaceCumulativeStatisticsApi.
    /// </summary>
    public class TaskrouterV1WorkspaceCumulativeStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkspaceCumulativeStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkspaceCumulativeStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkspaceCumulativeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace to fetch..</param>
        /// <param name="endDate">Optional parameter: Only include usage that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="splitByWaitTime">Optional parameter: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. For example, `5,30` would show splits of Tasks that were canceled or accepted before and after 5 seconds and before and after 30 seconds. This can be used to show short abandoned Tasks or Tasks that failed to meet an SLA. TaskRouter will calculate statistics on up to 10,000 Tasks for any given threshold..</param>
        /// <returns>Returns the ApiResponse of Models.WorkspaceCumulativeStatistics response from the API call.</returns>
        public ApiResponse<Models.WorkspaceCumulativeStatistics> FetchWorkspaceCumulativeStatistics(
                string workspaceSid,
                DateTime? endDate = null,
                int? minutes = null,
                DateTime? startDate = null,
                string taskChannel = null,
                string splitByWaitTime = null)
            => CoreHelper.RunTask(FetchWorkspaceCumulativeStatisticsAsync(workspaceSid, endDate, minutes, startDate, taskChannel, splitByWaitTime));

        /// <summary>
        /// FetchWorkspaceCumulativeStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace to fetch..</param>
        /// <param name="endDate">Optional parameter: Only include usage that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="splitByWaitTime">Optional parameter: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. For example, `5,30` would show splits of Tasks that were canceled or accepted before and after 5 seconds and before and after 30 seconds. This can be used to show short abandoned Tasks or Tasks that failed to meet an SLA. TaskRouter will calculate statistics on up to 10,000 Tasks for any given threshold..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkspaceCumulativeStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkspaceCumulativeStatistics>> FetchWorkspaceCumulativeStatisticsAsync(
                string workspaceSid,
                DateTime? endDate = null,
                int? minutes = null,
                DateTime? startDate = null,
                string taskChannel = null,
                string splitByWaitTime = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkspaceCumulativeStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/CumulativeStatistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("Minutes", minutes))
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("TaskChannel", taskChannel))
                      .Query(query => query.Setup("SplitByWaitTime", splitByWaitTime))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}