// <copyright file="TaskrouterV1WorkerApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkerApi.
    /// </summary>
    public class TaskrouterV1WorkerApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkerApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkerApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// ListWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workers to read..</param>
        /// <param name="activityName">Optional parameter: The `activity_name` of the Worker resources to read..</param>
        /// <param name="activitySid">Optional parameter: The `activity_sid` of the Worker resources to read..</param>
        /// <param name="available">Optional parameter: Whether to return only Worker resources that are available or unavailable. Can be `true`, `1`, or `yes` to return Worker resources that are available, and `false`, or any value returns the Worker resources that are not available..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Worker resources to read..</param>
        /// <param name="targetWorkersExpression">Optional parameter: Filter by Workers that would match an expression. In addition to fields in the workers' attributes, the expression can include the following worker fields: `sid`, `friendly_name`, `activity_sid`, or `activity_name`.</param>
        /// <param name="taskQueueName">Optional parameter: The `friendly_name` of the TaskQueue that the Workers to read are eligible for..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue that the Workers to read are eligible for..</param>
        /// <param name="ordering">Optional parameter: Sorting parameter for Workers.</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListWorkerResponse response from the API call.</returns>
        public ApiResponse<Models.ListWorkerResponse> ListWorker(
                string workspaceSid,
                string activityName = null,
                string activitySid = null,
                string available = null,
                string friendlyName = null,
                string targetWorkersExpression = null,
                string taskQueueName = null,
                string taskQueueSid = null,
                string ordering = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListWorkerAsync(workspaceSid, activityName, activitySid, available, friendlyName, targetWorkersExpression, taskQueueName, taskQueueSid, ordering, pageSize, page, pageToken));

        /// <summary>
        /// ListWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workers to read..</param>
        /// <param name="activityName">Optional parameter: The `activity_name` of the Worker resources to read..</param>
        /// <param name="activitySid">Optional parameter: The `activity_sid` of the Worker resources to read..</param>
        /// <param name="available">Optional parameter: Whether to return only Worker resources that are available or unavailable. Can be `true`, `1`, or `yes` to return Worker resources that are available, and `false`, or any value returns the Worker resources that are not available..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Worker resources to read..</param>
        /// <param name="targetWorkersExpression">Optional parameter: Filter by Workers that would match an expression. In addition to fields in the workers' attributes, the expression can include the following worker fields: `sid`, `friendly_name`, `activity_sid`, or `activity_name`.</param>
        /// <param name="taskQueueName">Optional parameter: The `friendly_name` of the TaskQueue that the Workers to read are eligible for..</param>
        /// <param name="taskQueueSid">Optional parameter: The SID of the TaskQueue that the Workers to read are eligible for..</param>
        /// <param name="ordering">Optional parameter: Sorting parameter for Workers.</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListWorkerResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListWorkerResponse>> ListWorkerAsync(
                string workspaceSid,
                string activityName = null,
                string activitySid = null,
                string available = null,
                string friendlyName = null,
                string targetWorkersExpression = null,
                string taskQueueName = null,
                string taskQueueSid = null,
                string ordering = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListWorkerResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workers")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("ActivityName", activityName))
                      .Query(query => query.Setup("ActivitySid", activitySid))
                      .Query(query => query.Setup("Available", available))
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("TargetWorkersExpression", targetWorkersExpression))
                      .Query(query => query.Setup("TaskQueueName", taskQueueName))
                      .Query(query => query.Setup("TaskQueueSid", taskQueueSid))
                      .Query(query => query.Setup("Ordering", ordering))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Worker belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the new Worker. It can be up to 64 characters long..</param>
        /// <param name="activitySid">Optional parameter: The SID of a valid Activity that will describe the new Worker's initial state. See [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more information. If not provided, the new Worker's initial state is the `default_activity_sid` configured on the Workspace..</param>
        /// <param name="attributes">Optional parameter: A valid JSON string that describes the new Worker. For example: `{ "email": "Bob@example.com", "phone": "+5095551234" }`. This data is passed to the `assignment_callback_url` when TaskRouter assigns a Task to the Worker. Defaults to {}..</param>
        /// <returns>Returns the ApiResponse of Models.Worker response from the API call.</returns>
        public ApiResponse<Models.Worker> CreateWorker(
                string workspaceSid,
                string friendlyName,
                string activitySid = null,
                string attributes = null)
            => CoreHelper.RunTask(CreateWorkerAsync(workspaceSid, friendlyName, activitySid, attributes));

        /// <summary>
        /// CreateWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Worker belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the new Worker. It can be up to 64 characters long..</param>
        /// <param name="activitySid">Optional parameter: The SID of a valid Activity that will describe the new Worker's initial state. See [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more information. If not provided, the new Worker's initial state is the `default_activity_sid` configured on the Workspace..</param>
        /// <param name="attributes">Optional parameter: A valid JSON string that describes the new Worker. For example: `{ "email": "Bob@example.com", "phone": "+5095551234" }`. This data is passed to the `assignment_callback_url` when TaskRouter assigns a Task to the Worker. Defaults to {}..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Worker response from the API call.</returns>
        public async Task<ApiResponse<Models.Worker>> CreateWorkerAsync(
                string workspaceSid,
                string friendlyName,
                string activitySid = null,
                string attributes = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Worker>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Workers")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("ActivitySid", activitySid))
                      .Form(form => form.Setup("Attributes", attributes))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// FetchWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Worker resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Worker response from the API call.</returns>
        public ApiResponse<Models.Worker> FetchWorker(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchWorkerAsync(workspaceSid, sid));

        /// <summary>
        /// FetchWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Worker resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Worker response from the API call.</returns>
        public async Task<ApiResponse<Models.Worker>> FetchWorkerAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Worker>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to update..</param>
        /// <param name="sid">Required parameter: The SID of the Worker resource to update..</param>
        /// <param name="ifMatch">Optional parameter: The If-Match HTTP request header.</param>
        /// <param name="activitySid">Optional parameter: The SID of a valid Activity that will describe the Worker's initial state. See [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more information..</param>
        /// <param name="attributes">Optional parameter: The JSON string that describes the Worker. For example: `{ "email": "Bob@example.com", "phone": "+5095551234" }`. This data is passed to the `assignment_callback_url` when TaskRouter assigns a Task to the Worker. Defaults to {}..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Worker. It can be up to 64 characters long..</param>
        /// <param name="rejectPendingReservations">Optional parameter: Whether to reject the Worker's pending reservations. This option is only valid if the Worker's new [Activity](https://www.twilio.com/docs/taskrouter/api/activity) resource has its `availability` property set to `False`..</param>
        /// <returns>Returns the ApiResponse of Models.Worker response from the API call.</returns>
        public ApiResponse<Models.Worker> UpdateWorker(
                string workspaceSid,
                string sid,
                string ifMatch = null,
                string activitySid = null,
                string attributes = null,
                string friendlyName = null,
                bool? rejectPendingReservations = null)
            => CoreHelper.RunTask(UpdateWorkerAsync(workspaceSid, sid, ifMatch, activitySid, attributes, friendlyName, rejectPendingReservations));

        /// <summary>
        /// UpdateWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to update..</param>
        /// <param name="sid">Required parameter: The SID of the Worker resource to update..</param>
        /// <param name="ifMatch">Optional parameter: The If-Match HTTP request header.</param>
        /// <param name="activitySid">Optional parameter: The SID of a valid Activity that will describe the Worker's initial state. See [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more information..</param>
        /// <param name="attributes">Optional parameter: The JSON string that describes the Worker. For example: `{ "email": "Bob@example.com", "phone": "+5095551234" }`. This data is passed to the `assignment_callback_url` when TaskRouter assigns a Task to the Worker. Defaults to {}..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Worker. It can be up to 64 characters long..</param>
        /// <param name="rejectPendingReservations">Optional parameter: Whether to reject the Worker's pending reservations. This option is only valid if the Worker's new [Activity](https://www.twilio.com/docs/taskrouter/api/activity) resource has its `availability` property set to `False`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Worker response from the API call.</returns>
        public async Task<ApiResponse<Models.Worker>> UpdateWorkerAsync(
                string workspaceSid,
                string sid,
                string ifMatch = null,
                string activitySid = null,
                string attributes = null,
                string friendlyName = null,
                bool? rejectPendingReservations = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Worker>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Header(header => header.Setup("If-Match", ifMatch))
                      .Form(form => form.Setup("ActivitySid", activitySid))
                      .Form(form => form.Setup("Attributes", attributes))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("RejectPendingReservations", rejectPendingReservations))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Worker resource to delete..</param>
        /// <param name="ifMatch">Optional parameter: The If-Match HTTP request header.</param>
        public void DeleteWorker(
                string workspaceSid,
                string sid,
                string ifMatch = null)
            => CoreHelper.RunVoidTask(DeleteWorkerAsync(workspaceSid, sid, ifMatch));

        /// <summary>
        /// DeleteWorker EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Worker to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Worker resource to delete..</param>
        /// <param name="ifMatch">Optional parameter: The If-Match HTTP request header.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteWorkerAsync(
                string workspaceSid,
                string sid,
                string ifMatch = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("If-Match", ifMatch))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}