// <copyright file="TaskrouterV1WorkerStatisticsApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkerStatisticsApi.
    /// </summary>
    public class TaskrouterV1WorkerStatisticsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkerStatisticsApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkerStatisticsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkerInstanceStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannel to fetch..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannel to fetch..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="endDate">Optional parameter: Only include usage that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <returns>Returns the ApiResponse of Models.WorkerInstanceStatistics response from the API call.</returns>
        public ApiResponse<Models.WorkerInstanceStatistics> FetchWorkerInstanceStatistics(
                string workspaceSid,
                string workerSid,
                int? minutes = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                string taskChannel = null)
            => CoreHelper.RunTask(FetchWorkerInstanceStatisticsAsync(workspaceSid, workerSid, minutes, startDate, endDate, taskChannel));

        /// <summary>
        /// FetchWorkerInstanceStatistics EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the WorkerChannel to fetch..</param>
        /// <param name="workerSid">Required parameter: The SID of the Worker with the WorkerChannel to fetch..</param>
        /// <param name="minutes">Optional parameter: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends..</param>
        /// <param name="startDate">Optional parameter: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format..</param>
        /// <param name="endDate">Optional parameter: Only include usage that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time..</param>
        /// <param name="taskChannel">Optional parameter: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WorkerInstanceStatistics response from the API call.</returns>
        public async Task<ApiResponse<Models.WorkerInstanceStatistics>> FetchWorkerInstanceStatisticsAsync(
                string workspaceSid,
                string workerSid,
                int? minutes = null,
                DateTime? startDate = null,
                DateTime? endDate = null,
                string taskChannel = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WorkerInstanceStatistics>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Statistics")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("WorkerSid", workerSid).Required())
                      .Query(query => query.Setup("Minutes", minutes))
                      .Query(query => query.Setup("StartDate", startDate.HasValue ? startDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("EndDate", endDate.HasValue ? endDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("TaskChannel", taskChannel))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}