// <copyright file="TaskrouterV1WorkflowApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// TaskrouterV1WorkflowApi.
    /// </summary>
    public class TaskrouterV1WorkflowApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaskrouterV1WorkflowApi"/> class.
        /// </summary>
        internal TaskrouterV1WorkflowApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// FetchWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Workflow resource to fetch..</param>
        /// <returns>Returns the ApiResponse of Models.Workflow response from the API call.</returns>
        public ApiResponse<Models.Workflow> FetchWorkflow(
                string workspaceSid,
                string sid)
            => CoreHelper.RunTask(FetchWorkflowAsync(workspaceSid, sid));

        /// <summary>
        /// FetchWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to fetch..</param>
        /// <param name="sid">Required parameter: The SID of the Workflow resource to fetch..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Workflow response from the API call.</returns>
        public async Task<ApiResponse<Models.Workflow>> FetchWorkflowAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Workflow>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// UpdateWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to update..</param>
        /// <param name="sid">Required parameter: The SID of the Workflow resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Workflow resource. For example, `Inbound Call Workflow` or `2014 Outbound Campaign`..</param>
        /// <param name="assignmentCallbackUrl">Optional parameter: The URL from your application that will process task assignment events. See [Handling Task Assignment Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-callbacks) for more details..</param>
        /// <param name="fallbackAssignmentCallbackUrl">Optional parameter: The URL that we should call when a call to the `assignment_callback_url` fails..</param>
        /// <param name="configuration">Optional parameter: A JSON string that contains the rules to apply to the Workflow. See [Configuring Workflows](https://www.twilio.com/docs/taskrouter/workflow-configuration) for more information..</param>
        /// <param name="taskReservationTimeout">Optional parameter: How long TaskRouter will wait for a confirmation response from your application after it assigns a Task to a Worker. Can be up to `86,400` (24 hours) and the default is `120`..</param>
        /// <param name="reEvaluateTasks">Optional parameter: Whether or not to re-evaluate Tasks. The default is `false`, which means Tasks in the Workflow will not be processed through the assignment loop again..</param>
        /// <returns>Returns the ApiResponse of Models.Workflow response from the API call.</returns>
        public ApiResponse<Models.Workflow> UpdateWorkflow(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                string assignmentCallbackUrl = null,
                string fallbackAssignmentCallbackUrl = null,
                string configuration = null,
                int? taskReservationTimeout = null,
                string reEvaluateTasks = null)
            => CoreHelper.RunTask(UpdateWorkflowAsync(workspaceSid, sid, friendlyName, assignmentCallbackUrl, fallbackAssignmentCallbackUrl, configuration, taskReservationTimeout, reEvaluateTasks));

        /// <summary>
        /// UpdateWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to update..</param>
        /// <param name="sid">Required parameter: The SID of the Workflow resource to update..</param>
        /// <param name="friendlyName">Optional parameter: A descriptive string that you create to describe the Workflow resource. For example, `Inbound Call Workflow` or `2014 Outbound Campaign`..</param>
        /// <param name="assignmentCallbackUrl">Optional parameter: The URL from your application that will process task assignment events. See [Handling Task Assignment Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-callbacks) for more details..</param>
        /// <param name="fallbackAssignmentCallbackUrl">Optional parameter: The URL that we should call when a call to the `assignment_callback_url` fails..</param>
        /// <param name="configuration">Optional parameter: A JSON string that contains the rules to apply to the Workflow. See [Configuring Workflows](https://www.twilio.com/docs/taskrouter/workflow-configuration) for more information..</param>
        /// <param name="taskReservationTimeout">Optional parameter: How long TaskRouter will wait for a confirmation response from your application after it assigns a Task to a Worker. Can be up to `86,400` (24 hours) and the default is `120`..</param>
        /// <param name="reEvaluateTasks">Optional parameter: Whether or not to re-evaluate Tasks. The default is `false`, which means Tasks in the Workflow will not be processed through the assignment loop again..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Workflow response from the API call.</returns>
        public async Task<ApiResponse<Models.Workflow>> UpdateWorkflowAsync(
                string workspaceSid,
                string sid,
                string friendlyName = null,
                string assignmentCallbackUrl = null,
                string fallbackAssignmentCallbackUrl = null,
                string configuration = null,
                int? taskReservationTimeout = null,
                string reEvaluateTasks = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Workflow>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName))
                      .Form(form => form.Setup("AssignmentCallbackUrl", assignmentCallbackUrl))
                      .Form(form => form.Setup("FallbackAssignmentCallbackUrl", fallbackAssignmentCallbackUrl))
                      .Form(form => form.Setup("Configuration", configuration))
                      .Form(form => form.Setup("TaskReservationTimeout", taskReservationTimeout))
                      .Form(form => form.Setup("ReEvaluateTasks", reEvaluateTasks))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DeleteWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Workflow resource to delete..</param>
        public void DeleteWorkflow(
                string workspaceSid,
                string sid)
            => CoreHelper.RunVoidTask(DeleteWorkflowAsync(workspaceSid, sid));

        /// <summary>
        /// DeleteWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to delete..</param>
        /// <param name="sid">Required parameter: The SID of the Workflow resource to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeleteWorkflowAsync(
                string workspaceSid,
                string sid,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Template(template => template.Setup("Sid", sid).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to read..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Workflow resources to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <returns>Returns the ApiResponse of Models.ListWorkflowResponse response from the API call.</returns>
        public ApiResponse<Models.ListWorkflowResponse> ListWorkflow(
                string workspaceSid,
                string friendlyName = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null)
            => CoreHelper.RunTask(ListWorkflowAsync(workspaceSid, friendlyName, pageSize, page, pageToken));

        /// <summary>
        /// ListWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace with the Workflow to read..</param>
        /// <param name="friendlyName">Optional parameter: The `friendly_name` of the Workflow resources to read..</param>
        /// <param name="pageSize">Optional parameter: How many resources to return in each list page. The default is 50, and the maximum is 1000..</param>
        /// <param name="page">Optional parameter: The page index. This value is simply for client state..</param>
        /// <param name="pageToken">Optional parameter: The page token. This is provided by the API..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListWorkflowResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListWorkflowResponse>> ListWorkflowAsync(
                string workspaceSid,
                string friendlyName = null,
                long? pageSize = null,
                int? page = null,
                string pageToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListWorkflowResponse>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/Workspaces/{WorkspaceSid}/Workflows")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Query(query => query.Setup("FriendlyName", friendlyName))
                      .Query(query => query.Setup("PageSize", pageSize))
                      .Query(query => query.Setup("Page", page))
                      .Query(query => query.Setup("PageToken", pageToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Workflow to create belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Workflow resource. For example, `Inbound Call Workflow` or `2014 Outbound Campaign`..</param>
        /// <param name="configuration">Required parameter: A JSON string that contains the rules to apply to the Workflow. See [Configuring Workflows](https://www.twilio.com/docs/taskrouter/workflow-configuration) for more information..</param>
        /// <param name="assignmentCallbackUrl">Optional parameter: The URL from your application that will process task assignment events. See [Handling Task Assignment Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-callbacks) for more details..</param>
        /// <param name="fallbackAssignmentCallbackUrl">Optional parameter: The URL that we should call when a call to the `assignment_callback_url` fails..</param>
        /// <param name="taskReservationTimeout">Optional parameter: How long TaskRouter will wait for a confirmation response from your application after it assigns a Task to a Worker. Can be up to `86,400` (24 hours) and the default is `120`..</param>
        /// <returns>Returns the ApiResponse of Models.Workflow response from the API call.</returns>
        public ApiResponse<Models.Workflow> CreateWorkflow(
                string workspaceSid,
                string friendlyName,
                string configuration,
                string assignmentCallbackUrl = null,
                string fallbackAssignmentCallbackUrl = null,
                int? taskReservationTimeout = null)
            => CoreHelper.RunTask(CreateWorkflowAsync(workspaceSid, friendlyName, configuration, assignmentCallbackUrl, fallbackAssignmentCallbackUrl, taskReservationTimeout));

        /// <summary>
        /// CreateWorkflow EndPoint.
        /// </summary>
        /// <param name="workspaceSid">Required parameter: The SID of the Workspace that the new Workflow to create belongs to..</param>
        /// <param name="friendlyName">Required parameter: A descriptive string that you create to describe the Workflow resource. For example, `Inbound Call Workflow` or `2014 Outbound Campaign`..</param>
        /// <param name="configuration">Required parameter: A JSON string that contains the rules to apply to the Workflow. See [Configuring Workflows](https://www.twilio.com/docs/taskrouter/workflow-configuration) for more information..</param>
        /// <param name="assignmentCallbackUrl">Optional parameter: The URL from your application that will process task assignment events. See [Handling Task Assignment Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-callbacks) for more details..</param>
        /// <param name="fallbackAssignmentCallbackUrl">Optional parameter: The URL that we should call when a call to the `assignment_callback_url` fails..</param>
        /// <param name="taskReservationTimeout">Optional parameter: How long TaskRouter will wait for a confirmation response from your application after it assigns a Task to a Worker. Can be up to `86,400` (24 hours) and the default is `120`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Workflow response from the API call.</returns>
        public async Task<ApiResponse<Models.Workflow>> CreateWorkflowAsync(
                string workspaceSid,
                string friendlyName,
                string configuration,
                string assignmentCallbackUrl = null,
                string fallbackAssignmentCallbackUrl = null,
                int? taskReservationTimeout = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Workflow>()
              .Server(Server.Default4)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/Workspaces/{WorkspaceSid}/Workflows")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("WorkspaceSid", workspaceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("FriendlyName", friendlyName).Required())
                      .Form(form => form.Setup("Configuration", configuration).Required())
                      .Form(form => form.Setup("AssignmentCallbackUrl", assignmentCallbackUrl))
                      .Form(form => form.Setup("FallbackAssignmentCallbackUrl", fallbackAssignmentCallbackUrl))
                      .Form(form => form.Setup("TaskReservationTimeout", taskReservationTimeout))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}