// <copyright file="VerifyV2VerificationCheckApi.cs" company="APIMatic">
// TwilioApIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TwilioApIs.Standard.Http.Response;

namespace TwilioApIs.Standard.Apis
{
    /// <summary>
    /// VerifyV2VerificationCheckApi.
    /// </summary>
    public class VerifyV2VerificationCheckApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="VerifyV2VerificationCheckApi"/> class.
        /// </summary>
        internal VerifyV2VerificationCheckApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// challenge a specific Verification Check.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service) to create the resource under..</param>
        /// <param name="code">Optional parameter: The 4-10 character string being verified..</param>
        /// <param name="to">Optional parameter: The phone number or [email](https://www.twilio.com/docs/verify/email) to verify. Either this parameter or the `verification_sid` must be specified. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <param name="verificationSid">Optional parameter: A SID that uniquely identifies the Verification Check. Either this parameter or the `to` phone number/[email](https://www.twilio.com/docs/verify/email) must be specified..</param>
        /// <param name="amount">Optional parameter: The amount of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled..</param>
        /// <param name="payee">Optional parameter: The payee of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled..</param>
        /// <param name="snaClientToken">Optional parameter: A sna client token received in sna url invocation response needs to be passed in Verification Check request and should match to get successful response..</param>
        /// <returns>Returns the ApiResponse of Models.VerificationCheck response from the API call.</returns>
        public ApiResponse<Models.VerificationCheck> CreateVerificationCheck(
                string serviceSid,
                string code = null,
                string to = null,
                string verificationSid = null,
                string amount = null,
                string payee = null,
                string snaClientToken = null)
            => CoreHelper.RunTask(CreateVerificationCheckAsync(serviceSid, code, to, verificationSid, amount, payee, snaClientToken));

        /// <summary>
        /// challenge a specific Verification Check.
        /// </summary>
        /// <param name="serviceSid">Required parameter: The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service) to create the resource under..</param>
        /// <param name="code">Optional parameter: The 4-10 character string being verified..</param>
        /// <param name="to">Optional parameter: The phone number or [email](https://www.twilio.com/docs/verify/email) to verify. Either this parameter or the `verification_sid` must be specified. Phone numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)..</param>
        /// <param name="verificationSid">Optional parameter: A SID that uniquely identifies the Verification Check. Either this parameter or the `to` phone number/[email](https://www.twilio.com/docs/verify/email) must be specified..</param>
        /// <param name="amount">Optional parameter: The amount of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled..</param>
        /// <param name="payee">Optional parameter: The payee of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled..</param>
        /// <param name="snaClientToken">Optional parameter: A sna client token received in sna url invocation response needs to be passed in Verification Check request and should match to get successful response..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.VerificationCheck response from the API call.</returns>
        public async Task<ApiResponse<Models.VerificationCheck>> CreateVerificationCheckAsync(
                string serviceSid,
                string code = null,
                string to = null,
                string verificationSid = null,
                string amount = null,
                string payee = null,
                string snaClientToken = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.VerificationCheck>()
              .Server(Server.Default5)
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/Services/{ServiceSid}/VerificationCheck")
                  .WithAuth("accountSid_authToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("ServiceSid", serviceSid).Required())
                      .Header(header => header.Setup("Content-Type", "application/x-www-form-urlencoded"))
                      .Form(form => form.Setup("Code", code))
                      .Form(form => form.Setup("To", to))
                      .Form(form => form.Setup("VerificationSid", verificationSid))
                      .Form(form => form.Setup("Amount", amount))
                      .Form(form => form.Setup("Payee", payee))
                      .Form(form => form.Setup("SnaClientToken", snaClientToken))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}